.rc_avatar {
  margin-right: 10px;
}
.rc_comment .rc_avatar img,
.rc_comment .rc_avatar svg {
  width: 36px;
  height: 36px;
  max-width: none;
}

.rc_comment-box-container .rc_avatar {
  margin-right: 10px;
  flex-shrink: 0;
}
.rc_comment-box-container .rc_avatar img,
.rc_comment-box-container .rc_avatar svg {
  width: 48px;
  height: 48px;
}