/***** Global CSS ******/
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Light.ttf);
}
@font-face {
  font-family: Muli;
  src: url(../fonts/Muli/Muli-Light.ttf);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway',sans-serif;
    color: $black_200;
    font-weight: 300;
    line-height: 160%;
    margin: 0;
    word-wrap: break-word;
}
h1 {
  font-size: 48px;
  letter-spacing: 5px;
  display: inline-block;
}
h3 {
  font-size: 32px;
}
a {
  color: $gray-200;
}
body {
  font-family: 'Muli',sans-serif;
  color: $black_200;
  font-size: 16px;
  font-weight: 300;
  line-height: 180%;
  background-color: $bg_gray;
}
.main-container {
  margin-top: 100px;
  margin-bottom: 100px;
}
.page-header {
  padding: 20px;
  text-transform: uppercase;
  padding-bottom: 0;
  border: none;
}
.button ,.button--primary,.btn-primary, .btn {
  border-radius: 0;
}
.form-textarea, .form-text, .form-email {
  border-radius: 0;
  background-color: $bg_gray;
}
.form-actions {
  margin-top: 20px;
}
.field {
  margin-top: 10px;
}
/**** Slider CSS ****/
.slick--view--slider {
  margin-top: 100px;
}
.media--slick {
  .media__image {
    margin: 0;
    width: 100%;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
  }
}
.slick--skin--fullscreen .slide__constrained {
  //background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc4JyBoZWlnaHQ9JzgnPgogIDxyZWN0IHdpZHRoPSc4JyBoZWlnaHQ9JzgnIGZpbGw9JyNmZmYnLz4KICA8cGF0aCBkPSdNMCAwTDggOFpNOCAwTDAgOFonIHN0cm9rZS13aWR0aD0nMC41JyBzdHJva2U9JyNhYWEnLz4KPC9zdmc+Cg==");
  background-image: url('../img/vectorpaint.svg');
  background-repeat: repeat;
  box-shadow: inset 0 0 0 2000px rgba(21, 20, 20, 0.7);
  opacity: 0.8;
  width: 100%;
}
.slide__caption {
  width: 100% !important;
  left: 0 !important;
  margin-left: 0 !important;
  padding: 20px !important;
  top: 250px !important;
  .slide__overlay {
     p {
      font-size: 50px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 5px;
      line-height: 76px;
    }
  }
}
.slick__arrow {
  top: 5%;
  .slick-arrow {
    &::before {
      font-size:5.5rem;
    }
  }
  .slick-prev {
    left: 93%;
    &::before {
      content: "<";
    }
  }
  .slick-next::before {
    content: ">"
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .media--slick .media__image {
    min-width: 1200px !important;
  }
  .slide__caption {
    margin-top: 70%;
    padding: 50px !important;
    .slide__overlay {
       p {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 5px;
        line-height: 30px;
      }
    }
  }
}
/**** Slider CSS end ****/
