/* Side Menu */

#sidebar-wrapper {
  position: fixed;
  z-index: 9999;
  // right: 0;
  left: -500px;
  width: 250px;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: $white;
  border-left: 1px solid fade-out($white, 0.9);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
}
.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: $black_200;
  padding: 15px;
  &:hover {
    background-color: $bg-gray;
  }
  &.is-active {
    background-color: $bg-gray;
  }
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.2rem;
  background: fade-out($bg-gray, .9);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.sidebar-nav > .sidebar-brand a {
  color: $black_200;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: $white;
  background: none;
}

#sidebar-wrapper.active {
  // right: 250px;
  left: -250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-toggle {
  position: fixed;
  left: 15px;
  top: 25px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: $gray_200;
  // background: fade-out($bg-gray, .5);
  font-size: 36px;
  line-height: 50px;
  z-index: 999;
  &:focus,
  &:hover {
    color: $gray_200;
  }
  &:hover {
    // background: $bg-gray;
  }
  &.active {
    // background-color: $white;
    // color: $gray-900;
  }
}
.navbar-nav > li {
  float: none;
}
.menu-top {
  background-color: $white;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 999;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.logo-wrapper {
  position: relative;
  top: 0px;
  .navbar-brand {
    display: none;
    font-size: 42px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .logo-top {
    margin-left: 20%;
    .navbar-brand {
      font-size: 34px;
    }
  }
}
