.block-views-blockmission-block-1 {
  background-color: $white;
  padding-top: 100px;
  padding-bottom: 100px;
  .vision-block {
    background-color: $bg_gray;
    text-align: center;
    border: 1px solid $bg_gray;
    box-shadow: $bg_gray 1px 1px 3px;
    figcaption {
      min-height: 250px;
      padding: 20px;
      h3 {
        font-size: 22px;
      }
    }
  }
}
