.view-portfolio {
  .view-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    .portfolio-box {
      .inner {
        background-color: $white;
        padding: 20px;
        text-align: center;
        h3 {
          font-size: 24px;
        }
      }
    }
  }
}
#cboxLoadedContent {
  .navbar {
    display: none;
  }
}
.field--name-field-project-technology {
  .field--items {
    display: inline-flex;
    .field--item {
      padding-right: 10px;
    }
  }
}
@media (max-width: 991px) {
  .view-portfolio {
    .view-content {
      display: inherit;
      .portfolio-box {
        margin-bottom: 30px;
      }
    }
  }
}
