.view-services {
  .service-box {
    position: relative;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    .image {
      background: $white;
      position: absolute;
      width: 300px;
      padding: 30px;
      height: 100%;
      top: 0;
      img {
        margin-top: 55px;
        width: 100%;
      }
    }
    .inner {
      padding: 40px;
      background: $white;
      margin-left: 260px;
      & > * {
        margin-bottom: 30px;
      }
    }
  }
  .service-box:nth-child(2n) {
    .image {
      right: 20px;
    }
    .inner {
      margin-left: 0;
      margin-right: 260px;
      text-align: right;
    }
  }
}

@media (max-width: 991px) {
  .view-services {
    .service-box {
      padding-left: 20px;
      padding-right: 20px;
      .image {
        position: relative;
        width: 100%;
        height: auto;
      }
      .inner {
        margin: 0 !important;
        text-align: center;
      }
    }
  }
}
