@charset "UTF-8";
/******** Weixweb theme css *******/
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 4, ../vendor/font-awesome/scss/_core.scss */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
/* line 5, ../vendor/font-awesome/scss/_larger.scss */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

/* line 10, ../vendor/font-awesome/scss/_larger.scss */
.fa-2x {
  font-size: 2em;
}

/* line 11, ../vendor/font-awesome/scss/_larger.scss */
.fa-3x {
  font-size: 3em;
}

/* line 12, ../vendor/font-awesome/scss/_larger.scss */
.fa-4x {
  font-size: 4em;
}

/* line 13, ../vendor/font-awesome/scss/_larger.scss */
.fa-5x {
  font-size: 5em;
}

/* line 3, ../vendor/font-awesome/scss/_fixed-width.scss */
.fa-fw {
  width: 1.28571em;
  text-align: center;
}

/* line 4, ../vendor/font-awesome/scss/_list.scss */
.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}
/* line 8, ../vendor/font-awesome/scss/_list.scss */
.fa-ul > li {
  position: relative;
}

/* line 10, ../vendor/font-awesome/scss/_list.scss */
.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}
/* line 16, ../vendor/font-awesome/scss/_list.scss */
.fa-li.fa-lg {
  left: -1.85714em;
}

/* line 4, ../vendor/font-awesome/scss/_bordered-pulled.scss */
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

/* line 10, ../vendor/font-awesome/scss/_bordered-pulled.scss */
.fa-pull-left {
  float: left;
}

/* line 11, ../vendor/font-awesome/scss/_bordered-pulled.scss */
.fa-pull-right {
  float: right;
}

/* line 14, ../vendor/font-awesome/scss/_bordered-pulled.scss */
.fa.fa-pull-left {
  margin-right: .3em;
}
/* line 15, ../vendor/font-awesome/scss/_bordered-pulled.scss */
.fa.fa-pull-right {
  margin-left: .3em;
}

/* Deprecated as of 4.4.0 */
/* line 19, ../vendor/font-awesome/scss/_bordered-pulled.scss */
.pull-right {
  float: right;
}

/* line 20, ../vendor/font-awesome/scss/_bordered-pulled.scss */
.pull-left {
  float: left;
}

/* line 23, ../vendor/font-awesome/scss/_bordered-pulled.scss */
.fa.pull-left {
  margin-right: .3em;
}
/* line 24, ../vendor/font-awesome/scss/_bordered-pulled.scss */
.fa.pull-right {
  margin-left: .3em;
}

/* line 4, ../vendor/font-awesome/scss/_animated.scss */
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

/* line 9, ../vendor/font-awesome/scss/_animated.scss */
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* line 4, ../vendor/font-awesome/scss/_rotated-flipped.scss */
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 5, ../vendor/font-awesome/scss/_rotated-flipped.scss */
.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 6, ../vendor/font-awesome/scss/_rotated-flipped.scss */
.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 8, ../vendor/font-awesome/scss/_rotated-flipped.scss */
.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* line 9, ../vendor/font-awesome/scss/_rotated-flipped.scss */
.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* line 14, ../vendor/font-awesome/scss/_rotated-flipped.scss */
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}

/* line 4, ../vendor/font-awesome/scss/_stacked.scss */
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

/* line 12, ../vendor/font-awesome/scss/_stacked.scss */
.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 18, ../vendor/font-awesome/scss/_stacked.scss */
.fa-stack-1x {
  line-height: inherit;
}

/* line 19, ../vendor/font-awesome/scss/_stacked.scss */
.fa-stack-2x {
  font-size: 2em;
}

/* line 20, ../vendor/font-awesome/scss/_stacked.scss */
.fa-inverse {
  color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
/* line 4, ../vendor/font-awesome/scss/_icons.scss */
.fa-glass:before {
  content: "";
}

/* line 5, ../vendor/font-awesome/scss/_icons.scss */
.fa-music:before {
  content: "";
}

/* line 6, ../vendor/font-awesome/scss/_icons.scss */
.fa-search:before {
  content: "";
}

/* line 7, ../vendor/font-awesome/scss/_icons.scss */
.fa-envelope-o:before {
  content: "";
}

/* line 8, ../vendor/font-awesome/scss/_icons.scss */
.fa-heart:before {
  content: "";
}

/* line 9, ../vendor/font-awesome/scss/_icons.scss */
.fa-star:before {
  content: "";
}

/* line 10, ../vendor/font-awesome/scss/_icons.scss */
.fa-star-o:before {
  content: "";
}

/* line 11, ../vendor/font-awesome/scss/_icons.scss */
.fa-user:before {
  content: "";
}

/* line 12, ../vendor/font-awesome/scss/_icons.scss */
.fa-film:before {
  content: "";
}

/* line 13, ../vendor/font-awesome/scss/_icons.scss */
.fa-th-large:before {
  content: "";
}

/* line 14, ../vendor/font-awesome/scss/_icons.scss */
.fa-th:before {
  content: "";
}

/* line 15, ../vendor/font-awesome/scss/_icons.scss */
.fa-th-list:before {
  content: "";
}

/* line 16, ../vendor/font-awesome/scss/_icons.scss */
.fa-check:before {
  content: "";
}

/* line 17, ../vendor/font-awesome/scss/_icons.scss */
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "";
}

/* line 20, ../vendor/font-awesome/scss/_icons.scss */
.fa-search-plus:before {
  content: "";
}

/* line 21, ../vendor/font-awesome/scss/_icons.scss */
.fa-search-minus:before {
  content: "";
}

/* line 22, ../vendor/font-awesome/scss/_icons.scss */
.fa-power-off:before {
  content: "";
}

/* line 23, ../vendor/font-awesome/scss/_icons.scss */
.fa-signal:before {
  content: "";
}

/* line 24, ../vendor/font-awesome/scss/_icons.scss */
.fa-gear:before,
.fa-cog:before {
  content: "";
}

/* line 26, ../vendor/font-awesome/scss/_icons.scss */
.fa-trash-o:before {
  content: "";
}

/* line 27, ../vendor/font-awesome/scss/_icons.scss */
.fa-home:before {
  content: "";
}

/* line 28, ../vendor/font-awesome/scss/_icons.scss */
.fa-file-o:before {
  content: "";
}

/* line 29, ../vendor/font-awesome/scss/_icons.scss */
.fa-clock-o:before {
  content: "";
}

/* line 30, ../vendor/font-awesome/scss/_icons.scss */
.fa-road:before {
  content: "";
}

/* line 31, ../vendor/font-awesome/scss/_icons.scss */
.fa-download:before {
  content: "";
}

/* line 32, ../vendor/font-awesome/scss/_icons.scss */
.fa-arrow-circle-o-down:before {
  content: "";
}

/* line 33, ../vendor/font-awesome/scss/_icons.scss */
.fa-arrow-circle-o-up:before {
  content: "";
}

/* line 34, ../vendor/font-awesome/scss/_icons.scss */
.fa-inbox:before {
  content: "";
}

/* line 35, ../vendor/font-awesome/scss/_icons.scss */
.fa-play-circle-o:before {
  content: "";
}

/* line 36, ../vendor/font-awesome/scss/_icons.scss */
.fa-rotate-right:before,
.fa-repeat:before {
  content: "";
}

/* line 38, ../vendor/font-awesome/scss/_icons.scss */
.fa-refresh:before {
  content: "";
}

/* line 39, ../vendor/font-awesome/scss/_icons.scss */
.fa-list-alt:before {
  content: "";
}

/* line 40, ../vendor/font-awesome/scss/_icons.scss */
.fa-lock:before {
  content: "";
}

/* line 41, ../vendor/font-awesome/scss/_icons.scss */
.fa-flag:before {
  content: "";
}

/* line 42, ../vendor/font-awesome/scss/_icons.scss */
.fa-headphones:before {
  content: "";
}

/* line 43, ../vendor/font-awesome/scss/_icons.scss */
.fa-volume-off:before {
  content: "";
}

/* line 44, ../vendor/font-awesome/scss/_icons.scss */
.fa-volume-down:before {
  content: "";
}

/* line 45, ../vendor/font-awesome/scss/_icons.scss */
.fa-volume-up:before {
  content: "";
}

/* line 46, ../vendor/font-awesome/scss/_icons.scss */
.fa-qrcode:before {
  content: "";
}

/* line 47, ../vendor/font-awesome/scss/_icons.scss */
.fa-barcode:before {
  content: "";
}

/* line 48, ../vendor/font-awesome/scss/_icons.scss */
.fa-tag:before {
  content: "";
}

/* line 49, ../vendor/font-awesome/scss/_icons.scss */
.fa-tags:before {
  content: "";
}

/* line 50, ../vendor/font-awesome/scss/_icons.scss */
.fa-book:before {
  content: "";
}

/* line 51, ../vendor/font-awesome/scss/_icons.scss */
.fa-bookmark:before {
  content: "";
}

/* line 52, ../vendor/font-awesome/scss/_icons.scss */
.fa-print:before {
  content: "";
}

/* line 53, ../vendor/font-awesome/scss/_icons.scss */
.fa-camera:before {
  content: "";
}

/* line 54, ../vendor/font-awesome/scss/_icons.scss */
.fa-font:before {
  content: "";
}

/* line 55, ../vendor/font-awesome/scss/_icons.scss */
.fa-bold:before {
  content: "";
}

/* line 56, ../vendor/font-awesome/scss/_icons.scss */
.fa-italic:before {
  content: "";
}

/* line 57, ../vendor/font-awesome/scss/_icons.scss */
.fa-text-height:before {
  content: "";
}

/* line 58, ../vendor/font-awesome/scss/_icons.scss */
.fa-text-width:before {
  content: "";
}

/* line 59, ../vendor/font-awesome/scss/_icons.scss */
.fa-align-left:before {
  content: "";
}

/* line 60, ../vendor/font-awesome/scss/_icons.scss */
.fa-align-center:before {
  content: "";
}

/* line 61, ../vendor/font-awesome/scss/_icons.scss */
.fa-align-right:before {
  content: "";
}

/* line 62, ../vendor/font-awesome/scss/_icons.scss */
.fa-align-justify:before {
  content: "";
}

/* line 63, ../vendor/font-awesome/scss/_icons.scss */
.fa-list:before {
  content: "";
}

/* line 64, ../vendor/font-awesome/scss/_icons.scss */
.fa-dedent:before,
.fa-outdent:before {
  content: "";
}

/* line 66, ../vendor/font-awesome/scss/_icons.scss */
.fa-indent:before {
  content: "";
}

/* line 67, ../vendor/font-awesome/scss/_icons.scss */
.fa-video-camera:before {
  content: "";
}

/* line 68, ../vendor/font-awesome/scss/_icons.scss */
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "";
}

/* line 71, ../vendor/font-awesome/scss/_icons.scss */
.fa-pencil:before {
  content: "";
}

/* line 72, ../vendor/font-awesome/scss/_icons.scss */
.fa-map-marker:before {
  content: "";
}

/* line 73, ../vendor/font-awesome/scss/_icons.scss */
.fa-adjust:before {
  content: "";
}

/* line 74, ../vendor/font-awesome/scss/_icons.scss */
.fa-tint:before {
  content: "";
}

/* line 75, ../vendor/font-awesome/scss/_icons.scss */
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "";
}

/* line 77, ../vendor/font-awesome/scss/_icons.scss */
.fa-share-square-o:before {
  content: "";
}

/* line 78, ../vendor/font-awesome/scss/_icons.scss */
.fa-check-square-o:before {
  content: "";
}

/* line 79, ../vendor/font-awesome/scss/_icons.scss */
.fa-arrows:before {
  content: "";
}

/* line 80, ../vendor/font-awesome/scss/_icons.scss */
.fa-step-backward:before {
  content: "";
}

/* line 81, ../vendor/font-awesome/scss/_icons.scss */
.fa-fast-backward:before {
  content: "";
}

/* line 82, ../vendor/font-awesome/scss/_icons.scss */
.fa-backward:before {
  content: "";
}

/* line 83, ../vendor/font-awesome/scss/_icons.scss */
.fa-play:before {
  content: "";
}

/* line 84, ../vendor/font-awesome/scss/_icons.scss */
.fa-pause:before {
  content: "";
}

/* line 85, ../vendor/font-awesome/scss/_icons.scss */
.fa-stop:before {
  content: "";
}

/* line 86, ../vendor/font-awesome/scss/_icons.scss */
.fa-forward:before {
  content: "";
}

/* line 87, ../vendor/font-awesome/scss/_icons.scss */
.fa-fast-forward:before {
  content: "";
}

/* line 88, ../vendor/font-awesome/scss/_icons.scss */
.fa-step-forward:before {
  content: "";
}

/* line 89, ../vendor/font-awesome/scss/_icons.scss */
.fa-eject:before {
  content: "";
}

/* line 90, ../vendor/font-awesome/scss/_icons.scss */
.fa-chevron-left:before {
  content: "";
}

/* line 91, ../vendor/font-awesome/scss/_icons.scss */
.fa-chevron-right:before {
  content: "";
}

/* line 92, ../vendor/font-awesome/scss/_icons.scss */
.fa-plus-circle:before {
  content: "";
}

/* line 93, ../vendor/font-awesome/scss/_icons.scss */
.fa-minus-circle:before {
  content: "";
}

/* line 94, ../vendor/font-awesome/scss/_icons.scss */
.fa-times-circle:before {
  content: "";
}

/* line 95, ../vendor/font-awesome/scss/_icons.scss */
.fa-check-circle:before {
  content: "";
}

/* line 96, ../vendor/font-awesome/scss/_icons.scss */
.fa-question-circle:before {
  content: "";
}

/* line 97, ../vendor/font-awesome/scss/_icons.scss */
.fa-info-circle:before {
  content: "";
}

/* line 98, ../vendor/font-awesome/scss/_icons.scss */
.fa-crosshairs:before {
  content: "";
}

/* line 99, ../vendor/font-awesome/scss/_icons.scss */
.fa-times-circle-o:before {
  content: "";
}

/* line 100, ../vendor/font-awesome/scss/_icons.scss */
.fa-check-circle-o:before {
  content: "";
}

/* line 101, ../vendor/font-awesome/scss/_icons.scss */
.fa-ban:before {
  content: "";
}

/* line 102, ../vendor/font-awesome/scss/_icons.scss */
.fa-arrow-left:before {
  content: "";
}

/* line 103, ../vendor/font-awesome/scss/_icons.scss */
.fa-arrow-right:before {
  content: "";
}

/* line 104, ../vendor/font-awesome/scss/_icons.scss */
.fa-arrow-up:before {
  content: "";
}

/* line 105, ../vendor/font-awesome/scss/_icons.scss */
.fa-arrow-down:before {
  content: "";
}

/* line 106, ../vendor/font-awesome/scss/_icons.scss */
.fa-mail-forward:before,
.fa-share:before {
  content: "";
}

/* line 108, ../vendor/font-awesome/scss/_icons.scss */
.fa-expand:before {
  content: "";
}

/* line 109, ../vendor/font-awesome/scss/_icons.scss */
.fa-compress:before {
  content: "";
}

/* line 110, ../vendor/font-awesome/scss/_icons.scss */
.fa-plus:before {
  content: "";
}

/* line 111, ../vendor/font-awesome/scss/_icons.scss */
.fa-minus:before {
  content: "";
}

/* line 112, ../vendor/font-awesome/scss/_icons.scss */
.fa-asterisk:before {
  content: "";
}

/* line 113, ../vendor/font-awesome/scss/_icons.scss */
.fa-exclamation-circle:before {
  content: "";
}

/* line 114, ../vendor/font-awesome/scss/_icons.scss */
.fa-gift:before {
  content: "";
}

/* line 115, ../vendor/font-awesome/scss/_icons.scss */
.fa-leaf:before {
  content: "";
}

/* line 116, ../vendor/font-awesome/scss/_icons.scss */
.fa-fire:before {
  content: "";
}

/* line 117, ../vendor/font-awesome/scss/_icons.scss */
.fa-eye:before {
  content: "";
}

/* line 118, ../vendor/font-awesome/scss/_icons.scss */
.fa-eye-slash:before {
  content: "";
}

/* line 119, ../vendor/font-awesome/scss/_icons.scss */
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "";
}

/* line 121, ../vendor/font-awesome/scss/_icons.scss */
.fa-plane:before {
  content: "";
}

/* line 122, ../vendor/font-awesome/scss/_icons.scss */
.fa-calendar:before {
  content: "";
}

/* line 123, ../vendor/font-awesome/scss/_icons.scss */
.fa-random:before {
  content: "";
}

/* line 124, ../vendor/font-awesome/scss/_icons.scss */
.fa-comment:before {
  content: "";
}

/* line 125, ../vendor/font-awesome/scss/_icons.scss */
.fa-magnet:before {
  content: "";
}

/* line 126, ../vendor/font-awesome/scss/_icons.scss */
.fa-chevron-up:before {
  content: "";
}

/* line 127, ../vendor/font-awesome/scss/_icons.scss */
.fa-chevron-down:before {
  content: "";
}

/* line 128, ../vendor/font-awesome/scss/_icons.scss */
.fa-retweet:before {
  content: "";
}

/* line 129, ../vendor/font-awesome/scss/_icons.scss */
.fa-shopping-cart:before {
  content: "";
}

/* line 130, ../vendor/font-awesome/scss/_icons.scss */
.fa-folder:before {
  content: "";
}

/* line 131, ../vendor/font-awesome/scss/_icons.scss */
.fa-folder-open:before {
  content: "";
}

/* line 132, ../vendor/font-awesome/scss/_icons.scss */
.fa-arrows-v:before {
  content: "";
}

/* line 133, ../vendor/font-awesome/scss/_icons.scss */
.fa-arrows-h:before {
  content: "";
}

/* line 134, ../vendor/font-awesome/scss/_icons.scss */
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "";
}

/* line 136, ../vendor/font-awesome/scss/_icons.scss */
.fa-twitter-square:before {
  content: "";
}

/* line 137, ../vendor/font-awesome/scss/_icons.scss */
.fa-facebook-square:before {
  content: "";
}

/* line 138, ../vendor/font-awesome/scss/_icons.scss */
.fa-camera-retro:before {
  content: "";
}

/* line 139, ../vendor/font-awesome/scss/_icons.scss */
.fa-key:before {
  content: "";
}

/* line 140, ../vendor/font-awesome/scss/_icons.scss */
.fa-gears:before,
.fa-cogs:before {
  content: "";
}

/* line 142, ../vendor/font-awesome/scss/_icons.scss */
.fa-comments:before {
  content: "";
}

/* line 143, ../vendor/font-awesome/scss/_icons.scss */
.fa-thumbs-o-up:before {
  content: "";
}

/* line 144, ../vendor/font-awesome/scss/_icons.scss */
.fa-thumbs-o-down:before {
  content: "";
}

/* line 145, ../vendor/font-awesome/scss/_icons.scss */
.fa-star-half:before {
  content: "";
}

/* line 146, ../vendor/font-awesome/scss/_icons.scss */
.fa-heart-o:before {
  content: "";
}

/* line 147, ../vendor/font-awesome/scss/_icons.scss */
.fa-sign-out:before {
  content: "";
}

/* line 148, ../vendor/font-awesome/scss/_icons.scss */
.fa-linkedin-square:before {
  content: "";
}

/* line 149, ../vendor/font-awesome/scss/_icons.scss */
.fa-thumb-tack:before {
  content: "";
}

/* line 150, ../vendor/font-awesome/scss/_icons.scss */
.fa-external-link:before {
  content: "";
}

/* line 151, ../vendor/font-awesome/scss/_icons.scss */
.fa-sign-in:before {
  content: "";
}

/* line 152, ../vendor/font-awesome/scss/_icons.scss */
.fa-trophy:before {
  content: "";
}

/* line 153, ../vendor/font-awesome/scss/_icons.scss */
.fa-github-square:before {
  content: "";
}

/* line 154, ../vendor/font-awesome/scss/_icons.scss */
.fa-upload:before {
  content: "";
}

/* line 155, ../vendor/font-awesome/scss/_icons.scss */
.fa-lemon-o:before {
  content: "";
}

/* line 156, ../vendor/font-awesome/scss/_icons.scss */
.fa-phone:before {
  content: "";
}

/* line 157, ../vendor/font-awesome/scss/_icons.scss */
.fa-square-o:before {
  content: "";
}

/* line 158, ../vendor/font-awesome/scss/_icons.scss */
.fa-bookmark-o:before {
  content: "";
}

/* line 159, ../vendor/font-awesome/scss/_icons.scss */
.fa-phone-square:before {
  content: "";
}

/* line 160, ../vendor/font-awesome/scss/_icons.scss */
.fa-twitter:before {
  content: "";
}

/* line 161, ../vendor/font-awesome/scss/_icons.scss */
.fa-facebook-f:before,
.fa-facebook:before {
  content: "";
}

/* line 163, ../vendor/font-awesome/scss/_icons.scss */
.fa-github:before {
  content: "";
}

/* line 164, ../vendor/font-awesome/scss/_icons.scss */
.fa-unlock:before {
  content: "";
}

/* line 165, ../vendor/font-awesome/scss/_icons.scss */
.fa-credit-card:before {
  content: "";
}

/* line 166, ../vendor/font-awesome/scss/_icons.scss */
.fa-feed:before,
.fa-rss:before {
  content: "";
}

/* line 168, ../vendor/font-awesome/scss/_icons.scss */
.fa-hdd-o:before {
  content: "";
}

/* line 169, ../vendor/font-awesome/scss/_icons.scss */
.fa-bullhorn:before {
  content: "";
}

/* line 170, ../vendor/font-awesome/scss/_icons.scss */
.fa-bell:before {
  content: "";
}

/* line 171, ../vendor/font-awesome/scss/_icons.scss */
.fa-certificate:before {
  content: "";
}

/* line 172, ../vendor/font-awesome/scss/_icons.scss */
.fa-hand-o-right:before {
  content: "";
}

/* line 173, ../vendor/font-awesome/scss/_icons.scss */
.fa-hand-o-left:before {
  content: "";
}

/* line 174, ../vendor/font-awesome/scss/_icons.scss */
.fa-hand-o-up:before {
  content: "";
}

/* line 175, ../vendor/font-awesome/scss/_icons.scss */
.fa-hand-o-down:before {
  content: "";
}

/* line 176, ../vendor/font-awesome/scss/_icons.scss */
.fa-arrow-circle-left:before {
  content: "";
}

/* line 177, ../vendor/font-awesome/scss/_icons.scss */
.fa-arrow-circle-right:before {
  content: "";
}

/* line 178, ../vendor/font-awesome/scss/_icons.scss */
.fa-arrow-circle-up:before {
  content: "";
}

/* line 179, ../vendor/font-awesome/scss/_icons.scss */
.fa-arrow-circle-down:before {
  content: "";
}

/* line 180, ../vendor/font-awesome/scss/_icons.scss */
.fa-globe:before {
  content: "";
}

/* line 181, ../vendor/font-awesome/scss/_icons.scss */
.fa-wrench:before {
  content: "";
}

/* line 182, ../vendor/font-awesome/scss/_icons.scss */
.fa-tasks:before {
  content: "";
}

/* line 183, ../vendor/font-awesome/scss/_icons.scss */
.fa-filter:before {
  content: "";
}

/* line 184, ../vendor/font-awesome/scss/_icons.scss */
.fa-briefcase:before {
  content: "";
}

/* line 185, ../vendor/font-awesome/scss/_icons.scss */
.fa-arrows-alt:before {
  content: "";
}

/* line 186, ../vendor/font-awesome/scss/_icons.scss */
.fa-group:before,
.fa-users:before {
  content: "";
}

/* line 188, ../vendor/font-awesome/scss/_icons.scss */
.fa-chain:before,
.fa-link:before {
  content: "";
}

/* line 190, ../vendor/font-awesome/scss/_icons.scss */
.fa-cloud:before {
  content: "";
}

/* line 191, ../vendor/font-awesome/scss/_icons.scss */
.fa-flask:before {
  content: "";
}

/* line 192, ../vendor/font-awesome/scss/_icons.scss */
.fa-cut:before,
.fa-scissors:before {
  content: "";
}

/* line 194, ../vendor/font-awesome/scss/_icons.scss */
.fa-copy:before,
.fa-files-o:before {
  content: "";
}

/* line 196, ../vendor/font-awesome/scss/_icons.scss */
.fa-paperclip:before {
  content: "";
}

/* line 197, ../vendor/font-awesome/scss/_icons.scss */
.fa-save:before,
.fa-floppy-o:before {
  content: "";
}

/* line 199, ../vendor/font-awesome/scss/_icons.scss */
.fa-square:before {
  content: "";
}

/* line 200, ../vendor/font-awesome/scss/_icons.scss */
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "";
}

/* line 203, ../vendor/font-awesome/scss/_icons.scss */
.fa-list-ul:before {
  content: "";
}

/* line 204, ../vendor/font-awesome/scss/_icons.scss */
.fa-list-ol:before {
  content: "";
}

/* line 205, ../vendor/font-awesome/scss/_icons.scss */
.fa-strikethrough:before {
  content: "";
}

/* line 206, ../vendor/font-awesome/scss/_icons.scss */
.fa-underline:before {
  content: "";
}

/* line 207, ../vendor/font-awesome/scss/_icons.scss */
.fa-table:before {
  content: "";
}

/* line 208, ../vendor/font-awesome/scss/_icons.scss */
.fa-magic:before {
  content: "";
}

/* line 209, ../vendor/font-awesome/scss/_icons.scss */
.fa-truck:before {
  content: "";
}

/* line 210, ../vendor/font-awesome/scss/_icons.scss */
.fa-pinterest:before {
  content: "";
}

/* line 211, ../vendor/font-awesome/scss/_icons.scss */
.fa-pinterest-square:before {
  content: "";
}

/* line 212, ../vendor/font-awesome/scss/_icons.scss */
.fa-google-plus-square:before {
  content: "";
}

/* line 213, ../vendor/font-awesome/scss/_icons.scss */
.fa-google-plus:before {
  content: "";
}

/* line 214, ../vendor/font-awesome/scss/_icons.scss */
.fa-money:before {
  content: "";
}

/* line 215, ../vendor/font-awesome/scss/_icons.scss */
.fa-caret-down:before {
  content: "";
}

/* line 216, ../vendor/font-awesome/scss/_icons.scss */
.fa-caret-up:before {
  content: "";
}

/* line 217, ../vendor/font-awesome/scss/_icons.scss */
.fa-caret-left:before {
  content: "";
}

/* line 218, ../vendor/font-awesome/scss/_icons.scss */
.fa-caret-right:before {
  content: "";
}

/* line 219, ../vendor/font-awesome/scss/_icons.scss */
.fa-columns:before {
  content: "";
}

/* line 220, ../vendor/font-awesome/scss/_icons.scss */
.fa-unsorted:before,
.fa-sort:before {
  content: "";
}

/* line 222, ../vendor/font-awesome/scss/_icons.scss */
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "";
}

/* line 224, ../vendor/font-awesome/scss/_icons.scss */
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "";
}

/* line 226, ../vendor/font-awesome/scss/_icons.scss */
.fa-envelope:before {
  content: "";
}

/* line 227, ../vendor/font-awesome/scss/_icons.scss */
.fa-linkedin:before {
  content: "";
}

/* line 228, ../vendor/font-awesome/scss/_icons.scss */
.fa-rotate-left:before,
.fa-undo:before {
  content: "";
}

/* line 230, ../vendor/font-awesome/scss/_icons.scss */
.fa-legal:before,
.fa-gavel:before {
  content: "";
}

/* line 232, ../vendor/font-awesome/scss/_icons.scss */
.fa-dashboard:before,
.fa-tachometer:before {
  content: "";
}

/* line 234, ../vendor/font-awesome/scss/_icons.scss */
.fa-comment-o:before {
  content: "";
}

/* line 235, ../vendor/font-awesome/scss/_icons.scss */
.fa-comments-o:before {
  content: "";
}

/* line 236, ../vendor/font-awesome/scss/_icons.scss */
.fa-flash:before,
.fa-bolt:before {
  content: "";
}

/* line 238, ../vendor/font-awesome/scss/_icons.scss */
.fa-sitemap:before {
  content: "";
}

/* line 239, ../vendor/font-awesome/scss/_icons.scss */
.fa-umbrella:before {
  content: "";
}

/* line 240, ../vendor/font-awesome/scss/_icons.scss */
.fa-paste:before,
.fa-clipboard:before {
  content: "";
}

/* line 242, ../vendor/font-awesome/scss/_icons.scss */
.fa-lightbulb-o:before {
  content: "";
}

/* line 243, ../vendor/font-awesome/scss/_icons.scss */
.fa-exchange:before {
  content: "";
}

/* line 244, ../vendor/font-awesome/scss/_icons.scss */
.fa-cloud-download:before {
  content: "";
}

/* line 245, ../vendor/font-awesome/scss/_icons.scss */
.fa-cloud-upload:before {
  content: "";
}

/* line 246, ../vendor/font-awesome/scss/_icons.scss */
.fa-user-md:before {
  content: "";
}

/* line 247, ../vendor/font-awesome/scss/_icons.scss */
.fa-stethoscope:before {
  content: "";
}

/* line 248, ../vendor/font-awesome/scss/_icons.scss */
.fa-suitcase:before {
  content: "";
}

/* line 249, ../vendor/font-awesome/scss/_icons.scss */
.fa-bell-o:before {
  content: "";
}

/* line 250, ../vendor/font-awesome/scss/_icons.scss */
.fa-coffee:before {
  content: "";
}

/* line 251, ../vendor/font-awesome/scss/_icons.scss */
.fa-cutlery:before {
  content: "";
}

/* line 252, ../vendor/font-awesome/scss/_icons.scss */
.fa-file-text-o:before {
  content: "";
}

/* line 253, ../vendor/font-awesome/scss/_icons.scss */
.fa-building-o:before {
  content: "";
}

/* line 254, ../vendor/font-awesome/scss/_icons.scss */
.fa-hospital-o:before {
  content: "";
}

/* line 255, ../vendor/font-awesome/scss/_icons.scss */
.fa-ambulance:before {
  content: "";
}

/* line 256, ../vendor/font-awesome/scss/_icons.scss */
.fa-medkit:before {
  content: "";
}

/* line 257, ../vendor/font-awesome/scss/_icons.scss */
.fa-fighter-jet:before {
  content: "";
}

/* line 258, ../vendor/font-awesome/scss/_icons.scss */
.fa-beer:before {
  content: "";
}

/* line 259, ../vendor/font-awesome/scss/_icons.scss */
.fa-h-square:before {
  content: "";
}

/* line 260, ../vendor/font-awesome/scss/_icons.scss */
.fa-plus-square:before {
  content: "";
}

/* line 261, ../vendor/font-awesome/scss/_icons.scss */
.fa-angle-double-left:before {
  content: "";
}

/* line 262, ../vendor/font-awesome/scss/_icons.scss */
.fa-angle-double-right:before {
  content: "";
}

/* line 263, ../vendor/font-awesome/scss/_icons.scss */
.fa-angle-double-up:before {
  content: "";
}

/* line 264, ../vendor/font-awesome/scss/_icons.scss */
.fa-angle-double-down:before {
  content: "";
}

/* line 265, ../vendor/font-awesome/scss/_icons.scss */
.fa-angle-left:before {
  content: "";
}

/* line 266, ../vendor/font-awesome/scss/_icons.scss */
.fa-angle-right:before {
  content: "";
}

/* line 267, ../vendor/font-awesome/scss/_icons.scss */
.fa-angle-up:before {
  content: "";
}

/* line 268, ../vendor/font-awesome/scss/_icons.scss */
.fa-angle-down:before {
  content: "";
}

/* line 269, ../vendor/font-awesome/scss/_icons.scss */
.fa-desktop:before {
  content: "";
}

/* line 270, ../vendor/font-awesome/scss/_icons.scss */
.fa-laptop:before {
  content: "";
}

/* line 271, ../vendor/font-awesome/scss/_icons.scss */
.fa-tablet:before {
  content: "";
}

/* line 272, ../vendor/font-awesome/scss/_icons.scss */
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "";
}

/* line 274, ../vendor/font-awesome/scss/_icons.scss */
.fa-circle-o:before {
  content: "";
}

/* line 275, ../vendor/font-awesome/scss/_icons.scss */
.fa-quote-left:before {
  content: "";
}

/* line 276, ../vendor/font-awesome/scss/_icons.scss */
.fa-quote-right:before {
  content: "";
}

/* line 277, ../vendor/font-awesome/scss/_icons.scss */
.fa-spinner:before {
  content: "";
}

/* line 278, ../vendor/font-awesome/scss/_icons.scss */
.fa-circle:before {
  content: "";
}

/* line 279, ../vendor/font-awesome/scss/_icons.scss */
.fa-mail-reply:before,
.fa-reply:before {
  content: "";
}

/* line 281, ../vendor/font-awesome/scss/_icons.scss */
.fa-github-alt:before {
  content: "";
}

/* line 282, ../vendor/font-awesome/scss/_icons.scss */
.fa-folder-o:before {
  content: "";
}

/* line 283, ../vendor/font-awesome/scss/_icons.scss */
.fa-folder-open-o:before {
  content: "";
}

/* line 284, ../vendor/font-awesome/scss/_icons.scss */
.fa-smile-o:before {
  content: "";
}

/* line 285, ../vendor/font-awesome/scss/_icons.scss */
.fa-frown-o:before {
  content: "";
}

/* line 286, ../vendor/font-awesome/scss/_icons.scss */
.fa-meh-o:before {
  content: "";
}

/* line 287, ../vendor/font-awesome/scss/_icons.scss */
.fa-gamepad:before {
  content: "";
}

/* line 288, ../vendor/font-awesome/scss/_icons.scss */
.fa-keyboard-o:before {
  content: "";
}

/* line 289, ../vendor/font-awesome/scss/_icons.scss */
.fa-flag-o:before {
  content: "";
}

/* line 290, ../vendor/font-awesome/scss/_icons.scss */
.fa-flag-checkered:before {
  content: "";
}

/* line 291, ../vendor/font-awesome/scss/_icons.scss */
.fa-terminal:before {
  content: "";
}

/* line 292, ../vendor/font-awesome/scss/_icons.scss */
.fa-code:before {
  content: "";
}

/* line 293, ../vendor/font-awesome/scss/_icons.scss */
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "";
}

/* line 295, ../vendor/font-awesome/scss/_icons.scss */
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "";
}

/* line 298, ../vendor/font-awesome/scss/_icons.scss */
.fa-location-arrow:before {
  content: "";
}

/* line 299, ../vendor/font-awesome/scss/_icons.scss */
.fa-crop:before {
  content: "";
}

/* line 300, ../vendor/font-awesome/scss/_icons.scss */
.fa-code-fork:before {
  content: "";
}

/* line 301, ../vendor/font-awesome/scss/_icons.scss */
.fa-unlink:before,
.fa-chain-broken:before {
  content: "";
}

/* line 303, ../vendor/font-awesome/scss/_icons.scss */
.fa-question:before {
  content: "";
}

/* line 304, ../vendor/font-awesome/scss/_icons.scss */
.fa-info:before {
  content: "";
}

/* line 305, ../vendor/font-awesome/scss/_icons.scss */
.fa-exclamation:before {
  content: "";
}

/* line 306, ../vendor/font-awesome/scss/_icons.scss */
.fa-superscript:before {
  content: "";
}

/* line 307, ../vendor/font-awesome/scss/_icons.scss */
.fa-subscript:before {
  content: "";
}

/* line 308, ../vendor/font-awesome/scss/_icons.scss */
.fa-eraser:before {
  content: "";
}

/* line 309, ../vendor/font-awesome/scss/_icons.scss */
.fa-puzzle-piece:before {
  content: "";
}

/* line 310, ../vendor/font-awesome/scss/_icons.scss */
.fa-microphone:before {
  content: "";
}

/* line 311, ../vendor/font-awesome/scss/_icons.scss */
.fa-microphone-slash:before {
  content: "";
}

/* line 312, ../vendor/font-awesome/scss/_icons.scss */
.fa-shield:before {
  content: "";
}

/* line 313, ../vendor/font-awesome/scss/_icons.scss */
.fa-calendar-o:before {
  content: "";
}

/* line 314, ../vendor/font-awesome/scss/_icons.scss */
.fa-fire-extinguisher:before {
  content: "";
}

/* line 315, ../vendor/font-awesome/scss/_icons.scss */
.fa-rocket:before {
  content: "";
}

/* line 316, ../vendor/font-awesome/scss/_icons.scss */
.fa-maxcdn:before {
  content: "";
}

/* line 317, ../vendor/font-awesome/scss/_icons.scss */
.fa-chevron-circle-left:before {
  content: "";
}

/* line 318, ../vendor/font-awesome/scss/_icons.scss */
.fa-chevron-circle-right:before {
  content: "";
}

/* line 319, ../vendor/font-awesome/scss/_icons.scss */
.fa-chevron-circle-up:before {
  content: "";
}

/* line 320, ../vendor/font-awesome/scss/_icons.scss */
.fa-chevron-circle-down:before {
  content: "";
}

/* line 321, ../vendor/font-awesome/scss/_icons.scss */
.fa-html5:before {
  content: "";
}

/* line 322, ../vendor/font-awesome/scss/_icons.scss */
.fa-css3:before {
  content: "";
}

/* line 323, ../vendor/font-awesome/scss/_icons.scss */
.fa-anchor:before {
  content: "";
}

/* line 324, ../vendor/font-awesome/scss/_icons.scss */
.fa-unlock-alt:before {
  content: "";
}

/* line 325, ../vendor/font-awesome/scss/_icons.scss */
.fa-bullseye:before {
  content: "";
}

/* line 326, ../vendor/font-awesome/scss/_icons.scss */
.fa-ellipsis-h:before {
  content: "";
}

/* line 327, ../vendor/font-awesome/scss/_icons.scss */
.fa-ellipsis-v:before {
  content: "";
}

/* line 328, ../vendor/font-awesome/scss/_icons.scss */
.fa-rss-square:before {
  content: "";
}

/* line 329, ../vendor/font-awesome/scss/_icons.scss */
.fa-play-circle:before {
  content: "";
}

/* line 330, ../vendor/font-awesome/scss/_icons.scss */
.fa-ticket:before {
  content: "";
}

/* line 331, ../vendor/font-awesome/scss/_icons.scss */
.fa-minus-square:before {
  content: "";
}

/* line 332, ../vendor/font-awesome/scss/_icons.scss */
.fa-minus-square-o:before {
  content: "";
}

/* line 333, ../vendor/font-awesome/scss/_icons.scss */
.fa-level-up:before {
  content: "";
}

/* line 334, ../vendor/font-awesome/scss/_icons.scss */
.fa-level-down:before {
  content: "";
}

/* line 335, ../vendor/font-awesome/scss/_icons.scss */
.fa-check-square:before {
  content: "";
}

/* line 336, ../vendor/font-awesome/scss/_icons.scss */
.fa-pencil-square:before {
  content: "";
}

/* line 337, ../vendor/font-awesome/scss/_icons.scss */
.fa-external-link-square:before {
  content: "";
}

/* line 338, ../vendor/font-awesome/scss/_icons.scss */
.fa-share-square:before {
  content: "";
}

/* line 339, ../vendor/font-awesome/scss/_icons.scss */
.fa-compass:before {
  content: "";
}

/* line 340, ../vendor/font-awesome/scss/_icons.scss */
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "";
}

/* line 342, ../vendor/font-awesome/scss/_icons.scss */
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "";
}

/* line 344, ../vendor/font-awesome/scss/_icons.scss */
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "";
}

/* line 346, ../vendor/font-awesome/scss/_icons.scss */
.fa-euro:before,
.fa-eur:before {
  content: "";
}

/* line 348, ../vendor/font-awesome/scss/_icons.scss */
.fa-gbp:before {
  content: "";
}

/* line 349, ../vendor/font-awesome/scss/_icons.scss */
.fa-dollar:before,
.fa-usd:before {
  content: "";
}

/* line 351, ../vendor/font-awesome/scss/_icons.scss */
.fa-rupee:before,
.fa-inr:before {
  content: "";
}

/* line 353, ../vendor/font-awesome/scss/_icons.scss */
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "";
}

/* line 357, ../vendor/font-awesome/scss/_icons.scss */
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "";
}

/* line 360, ../vendor/font-awesome/scss/_icons.scss */
.fa-won:before,
.fa-krw:before {
  content: "";
}

/* line 362, ../vendor/font-awesome/scss/_icons.scss */
.fa-bitcoin:before,
.fa-btc:before {
  content: "";
}

/* line 364, ../vendor/font-awesome/scss/_icons.scss */
.fa-file:before {
  content: "";
}

/* line 365, ../vendor/font-awesome/scss/_icons.scss */
.fa-file-text:before {
  content: "";
}

/* line 366, ../vendor/font-awesome/scss/_icons.scss */
.fa-sort-alpha-asc:before {
  content: "";
}

/* line 367, ../vendor/font-awesome/scss/_icons.scss */
.fa-sort-alpha-desc:before {
  content: "";
}

/* line 368, ../vendor/font-awesome/scss/_icons.scss */
.fa-sort-amount-asc:before {
  content: "";
}

/* line 369, ../vendor/font-awesome/scss/_icons.scss */
.fa-sort-amount-desc:before {
  content: "";
}

/* line 370, ../vendor/font-awesome/scss/_icons.scss */
.fa-sort-numeric-asc:before {
  content: "";
}

/* line 371, ../vendor/font-awesome/scss/_icons.scss */
.fa-sort-numeric-desc:before {
  content: "";
}

/* line 372, ../vendor/font-awesome/scss/_icons.scss */
.fa-thumbs-up:before {
  content: "";
}

/* line 373, ../vendor/font-awesome/scss/_icons.scss */
.fa-thumbs-down:before {
  content: "";
}

/* line 374, ../vendor/font-awesome/scss/_icons.scss */
.fa-youtube-square:before {
  content: "";
}

/* line 375, ../vendor/font-awesome/scss/_icons.scss */
.fa-youtube:before {
  content: "";
}

/* line 376, ../vendor/font-awesome/scss/_icons.scss */
.fa-xing:before {
  content: "";
}

/* line 377, ../vendor/font-awesome/scss/_icons.scss */
.fa-xing-square:before {
  content: "";
}

/* line 378, ../vendor/font-awesome/scss/_icons.scss */
.fa-youtube-play:before {
  content: "";
}

/* line 379, ../vendor/font-awesome/scss/_icons.scss */
.fa-dropbox:before {
  content: "";
}

/* line 380, ../vendor/font-awesome/scss/_icons.scss */
.fa-stack-overflow:before {
  content: "";
}

/* line 381, ../vendor/font-awesome/scss/_icons.scss */
.fa-instagram:before {
  content: "";
}

/* line 382, ../vendor/font-awesome/scss/_icons.scss */
.fa-flickr:before {
  content: "";
}

/* line 383, ../vendor/font-awesome/scss/_icons.scss */
.fa-adn:before {
  content: "";
}

/* line 384, ../vendor/font-awesome/scss/_icons.scss */
.fa-bitbucket:before {
  content: "";
}

/* line 385, ../vendor/font-awesome/scss/_icons.scss */
.fa-bitbucket-square:before {
  content: "";
}

/* line 386, ../vendor/font-awesome/scss/_icons.scss */
.fa-tumblr:before {
  content: "";
}

/* line 387, ../vendor/font-awesome/scss/_icons.scss */
.fa-tumblr-square:before {
  content: "";
}

/* line 388, ../vendor/font-awesome/scss/_icons.scss */
.fa-long-arrow-down:before {
  content: "";
}

/* line 389, ../vendor/font-awesome/scss/_icons.scss */
.fa-long-arrow-up:before {
  content: "";
}

/* line 390, ../vendor/font-awesome/scss/_icons.scss */
.fa-long-arrow-left:before {
  content: "";
}

/* line 391, ../vendor/font-awesome/scss/_icons.scss */
.fa-long-arrow-right:before {
  content: "";
}

/* line 392, ../vendor/font-awesome/scss/_icons.scss */
.fa-apple:before {
  content: "";
}

/* line 393, ../vendor/font-awesome/scss/_icons.scss */
.fa-windows:before {
  content: "";
}

/* line 394, ../vendor/font-awesome/scss/_icons.scss */
.fa-android:before {
  content: "";
}

/* line 395, ../vendor/font-awesome/scss/_icons.scss */
.fa-linux:before {
  content: "";
}

/* line 396, ../vendor/font-awesome/scss/_icons.scss */
.fa-dribbble:before {
  content: "";
}

/* line 397, ../vendor/font-awesome/scss/_icons.scss */
.fa-skype:before {
  content: "";
}

/* line 398, ../vendor/font-awesome/scss/_icons.scss */
.fa-foursquare:before {
  content: "";
}

/* line 399, ../vendor/font-awesome/scss/_icons.scss */
.fa-trello:before {
  content: "";
}

/* line 400, ../vendor/font-awesome/scss/_icons.scss */
.fa-female:before {
  content: "";
}

/* line 401, ../vendor/font-awesome/scss/_icons.scss */
.fa-male:before {
  content: "";
}

/* line 402, ../vendor/font-awesome/scss/_icons.scss */
.fa-gittip:before,
.fa-gratipay:before {
  content: "";
}

/* line 404, ../vendor/font-awesome/scss/_icons.scss */
.fa-sun-o:before {
  content: "";
}

/* line 405, ../vendor/font-awesome/scss/_icons.scss */
.fa-moon-o:before {
  content: "";
}

/* line 406, ../vendor/font-awesome/scss/_icons.scss */
.fa-archive:before {
  content: "";
}

/* line 407, ../vendor/font-awesome/scss/_icons.scss */
.fa-bug:before {
  content: "";
}

/* line 408, ../vendor/font-awesome/scss/_icons.scss */
.fa-vk:before {
  content: "";
}

/* line 409, ../vendor/font-awesome/scss/_icons.scss */
.fa-weibo:before {
  content: "";
}

/* line 410, ../vendor/font-awesome/scss/_icons.scss */
.fa-renren:before {
  content: "";
}

/* line 411, ../vendor/font-awesome/scss/_icons.scss */
.fa-pagelines:before {
  content: "";
}

/* line 412, ../vendor/font-awesome/scss/_icons.scss */
.fa-stack-exchange:before {
  content: "";
}

/* line 413, ../vendor/font-awesome/scss/_icons.scss */
.fa-arrow-circle-o-right:before {
  content: "";
}

/* line 414, ../vendor/font-awesome/scss/_icons.scss */
.fa-arrow-circle-o-left:before {
  content: "";
}

/* line 415, ../vendor/font-awesome/scss/_icons.scss */
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "";
}

/* line 417, ../vendor/font-awesome/scss/_icons.scss */
.fa-dot-circle-o:before {
  content: "";
}

/* line 418, ../vendor/font-awesome/scss/_icons.scss */
.fa-wheelchair:before {
  content: "";
}

/* line 419, ../vendor/font-awesome/scss/_icons.scss */
.fa-vimeo-square:before {
  content: "";
}

/* line 420, ../vendor/font-awesome/scss/_icons.scss */
.fa-turkish-lira:before,
.fa-try:before {
  content: "";
}

/* line 422, ../vendor/font-awesome/scss/_icons.scss */
.fa-plus-square-o:before {
  content: "";
}

/* line 423, ../vendor/font-awesome/scss/_icons.scss */
.fa-space-shuttle:before {
  content: "";
}

/* line 424, ../vendor/font-awesome/scss/_icons.scss */
.fa-slack:before {
  content: "";
}

/* line 425, ../vendor/font-awesome/scss/_icons.scss */
.fa-envelope-square:before {
  content: "";
}

/* line 426, ../vendor/font-awesome/scss/_icons.scss */
.fa-wordpress:before {
  content: "";
}

/* line 427, ../vendor/font-awesome/scss/_icons.scss */
.fa-openid:before {
  content: "";
}

/* line 428, ../vendor/font-awesome/scss/_icons.scss */
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "";
}

/* line 431, ../vendor/font-awesome/scss/_icons.scss */
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "";
}

/* line 433, ../vendor/font-awesome/scss/_icons.scss */
.fa-yahoo:before {
  content: "";
}

/* line 434, ../vendor/font-awesome/scss/_icons.scss */
.fa-google:before {
  content: "";
}

/* line 435, ../vendor/font-awesome/scss/_icons.scss */
.fa-reddit:before {
  content: "";
}

/* line 436, ../vendor/font-awesome/scss/_icons.scss */
.fa-reddit-square:before {
  content: "";
}

/* line 437, ../vendor/font-awesome/scss/_icons.scss */
.fa-stumbleupon-circle:before {
  content: "";
}

/* line 438, ../vendor/font-awesome/scss/_icons.scss */
.fa-stumbleupon:before {
  content: "";
}

/* line 439, ../vendor/font-awesome/scss/_icons.scss */
.fa-delicious:before {
  content: "";
}

/* line 440, ../vendor/font-awesome/scss/_icons.scss */
.fa-digg:before {
  content: "";
}

/* line 441, ../vendor/font-awesome/scss/_icons.scss */
.fa-pied-piper-pp:before {
  content: "";
}

/* line 442, ../vendor/font-awesome/scss/_icons.scss */
.fa-pied-piper-alt:before {
  content: "";
}

/* line 443, ../vendor/font-awesome/scss/_icons.scss */
.fa-drupal:before {
  content: "";
}

/* line 444, ../vendor/font-awesome/scss/_icons.scss */
.fa-joomla:before {
  content: "";
}

/* line 445, ../vendor/font-awesome/scss/_icons.scss */
.fa-language:before {
  content: "";
}

/* line 446, ../vendor/font-awesome/scss/_icons.scss */
.fa-fax:before {
  content: "";
}

/* line 447, ../vendor/font-awesome/scss/_icons.scss */
.fa-building:before {
  content: "";
}

/* line 448, ../vendor/font-awesome/scss/_icons.scss */
.fa-child:before {
  content: "";
}

/* line 449, ../vendor/font-awesome/scss/_icons.scss */
.fa-paw:before {
  content: "";
}

/* line 450, ../vendor/font-awesome/scss/_icons.scss */
.fa-spoon:before {
  content: "";
}

/* line 451, ../vendor/font-awesome/scss/_icons.scss */
.fa-cube:before {
  content: "";
}

/* line 452, ../vendor/font-awesome/scss/_icons.scss */
.fa-cubes:before {
  content: "";
}

/* line 453, ../vendor/font-awesome/scss/_icons.scss */
.fa-behance:before {
  content: "";
}

/* line 454, ../vendor/font-awesome/scss/_icons.scss */
.fa-behance-square:before {
  content: "";
}

/* line 455, ../vendor/font-awesome/scss/_icons.scss */
.fa-steam:before {
  content: "";
}

/* line 456, ../vendor/font-awesome/scss/_icons.scss */
.fa-steam-square:before {
  content: "";
}

/* line 457, ../vendor/font-awesome/scss/_icons.scss */
.fa-recycle:before {
  content: "";
}

/* line 458, ../vendor/font-awesome/scss/_icons.scss */
.fa-automobile:before,
.fa-car:before {
  content: "";
}

/* line 460, ../vendor/font-awesome/scss/_icons.scss */
.fa-cab:before,
.fa-taxi:before {
  content: "";
}

/* line 462, ../vendor/font-awesome/scss/_icons.scss */
.fa-tree:before {
  content: "";
}

/* line 463, ../vendor/font-awesome/scss/_icons.scss */
.fa-spotify:before {
  content: "";
}

/* line 464, ../vendor/font-awesome/scss/_icons.scss */
.fa-deviantart:before {
  content: "";
}

/* line 465, ../vendor/font-awesome/scss/_icons.scss */
.fa-soundcloud:before {
  content: "";
}

/* line 466, ../vendor/font-awesome/scss/_icons.scss */
.fa-database:before {
  content: "";
}

/* line 467, ../vendor/font-awesome/scss/_icons.scss */
.fa-file-pdf-o:before {
  content: "";
}

/* line 468, ../vendor/font-awesome/scss/_icons.scss */
.fa-file-word-o:before {
  content: "";
}

/* line 469, ../vendor/font-awesome/scss/_icons.scss */
.fa-file-excel-o:before {
  content: "";
}

/* line 470, ../vendor/font-awesome/scss/_icons.scss */
.fa-file-powerpoint-o:before {
  content: "";
}

/* line 471, ../vendor/font-awesome/scss/_icons.scss */
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "";
}

/* line 474, ../vendor/font-awesome/scss/_icons.scss */
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "";
}

/* line 476, ../vendor/font-awesome/scss/_icons.scss */
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "";
}

/* line 478, ../vendor/font-awesome/scss/_icons.scss */
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "";
}

/* line 480, ../vendor/font-awesome/scss/_icons.scss */
.fa-file-code-o:before {
  content: "";
}

/* line 481, ../vendor/font-awesome/scss/_icons.scss */
.fa-vine:before {
  content: "";
}

/* line 482, ../vendor/font-awesome/scss/_icons.scss */
.fa-codepen:before {
  content: "";
}

/* line 483, ../vendor/font-awesome/scss/_icons.scss */
.fa-jsfiddle:before {
  content: "";
}

/* line 484, ../vendor/font-awesome/scss/_icons.scss */
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "";
}

/* line 489, ../vendor/font-awesome/scss/_icons.scss */
.fa-circle-o-notch:before {
  content: "";
}

/* line 490, ../vendor/font-awesome/scss/_icons.scss */
.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: "";
}

/* line 493, ../vendor/font-awesome/scss/_icons.scss */
.fa-ge:before,
.fa-empire:before {
  content: "";
}

/* line 495, ../vendor/font-awesome/scss/_icons.scss */
.fa-git-square:before {
  content: "";
}

/* line 496, ../vendor/font-awesome/scss/_icons.scss */
.fa-git:before {
  content: "";
}

/* line 497, ../vendor/font-awesome/scss/_icons.scss */
.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "";
}

/* line 500, ../vendor/font-awesome/scss/_icons.scss */
.fa-tencent-weibo:before {
  content: "";
}

/* line 501, ../vendor/font-awesome/scss/_icons.scss */
.fa-qq:before {
  content: "";
}

/* line 502, ../vendor/font-awesome/scss/_icons.scss */
.fa-wechat:before,
.fa-weixin:before {
  content: "";
}

/* line 504, ../vendor/font-awesome/scss/_icons.scss */
.fa-send:before,
.fa-paper-plane:before {
  content: "";
}

/* line 506, ../vendor/font-awesome/scss/_icons.scss */
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "";
}

/* line 508, ../vendor/font-awesome/scss/_icons.scss */
.fa-history:before {
  content: "";
}

/* line 509, ../vendor/font-awesome/scss/_icons.scss */
.fa-circle-thin:before {
  content: "";
}

/* line 510, ../vendor/font-awesome/scss/_icons.scss */
.fa-header:before {
  content: "";
}

/* line 511, ../vendor/font-awesome/scss/_icons.scss */
.fa-paragraph:before {
  content: "";
}

/* line 512, ../vendor/font-awesome/scss/_icons.scss */
.fa-sliders:before {
  content: "";
}

/* line 513, ../vendor/font-awesome/scss/_icons.scss */
.fa-share-alt:before {
  content: "";
}

/* line 514, ../vendor/font-awesome/scss/_icons.scss */
.fa-share-alt-square:before {
  content: "";
}

/* line 515, ../vendor/font-awesome/scss/_icons.scss */
.fa-bomb:before {
  content: "";
}

/* line 516, ../vendor/font-awesome/scss/_icons.scss */
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "";
}

/* line 518, ../vendor/font-awesome/scss/_icons.scss */
.fa-tty:before {
  content: "";
}

/* line 519, ../vendor/font-awesome/scss/_icons.scss */
.fa-binoculars:before {
  content: "";
}

/* line 520, ../vendor/font-awesome/scss/_icons.scss */
.fa-plug:before {
  content: "";
}

/* line 521, ../vendor/font-awesome/scss/_icons.scss */
.fa-slideshare:before {
  content: "";
}

/* line 522, ../vendor/font-awesome/scss/_icons.scss */
.fa-twitch:before {
  content: "";
}

/* line 523, ../vendor/font-awesome/scss/_icons.scss */
.fa-yelp:before {
  content: "";
}

/* line 524, ../vendor/font-awesome/scss/_icons.scss */
.fa-newspaper-o:before {
  content: "";
}

/* line 525, ../vendor/font-awesome/scss/_icons.scss */
.fa-wifi:before {
  content: "";
}

/* line 526, ../vendor/font-awesome/scss/_icons.scss */
.fa-calculator:before {
  content: "";
}

/* line 527, ../vendor/font-awesome/scss/_icons.scss */
.fa-paypal:before {
  content: "";
}

/* line 528, ../vendor/font-awesome/scss/_icons.scss */
.fa-google-wallet:before {
  content: "";
}

/* line 529, ../vendor/font-awesome/scss/_icons.scss */
.fa-cc-visa:before {
  content: "";
}

/* line 530, ../vendor/font-awesome/scss/_icons.scss */
.fa-cc-mastercard:before {
  content: "";
}

/* line 531, ../vendor/font-awesome/scss/_icons.scss */
.fa-cc-discover:before {
  content: "";
}

/* line 532, ../vendor/font-awesome/scss/_icons.scss */
.fa-cc-amex:before {
  content: "";
}

/* line 533, ../vendor/font-awesome/scss/_icons.scss */
.fa-cc-paypal:before {
  content: "";
}

/* line 534, ../vendor/font-awesome/scss/_icons.scss */
.fa-cc-stripe:before {
  content: "";
}

/* line 535, ../vendor/font-awesome/scss/_icons.scss */
.fa-bell-slash:before {
  content: "";
}

/* line 536, ../vendor/font-awesome/scss/_icons.scss */
.fa-bell-slash-o:before {
  content: "";
}

/* line 537, ../vendor/font-awesome/scss/_icons.scss */
.fa-trash:before {
  content: "";
}

/* line 538, ../vendor/font-awesome/scss/_icons.scss */
.fa-copyright:before {
  content: "";
}

/* line 539, ../vendor/font-awesome/scss/_icons.scss */
.fa-at:before {
  content: "";
}

/* line 540, ../vendor/font-awesome/scss/_icons.scss */
.fa-eyedropper:before {
  content: "";
}

/* line 541, ../vendor/font-awesome/scss/_icons.scss */
.fa-paint-brush:before {
  content: "";
}

/* line 542, ../vendor/font-awesome/scss/_icons.scss */
.fa-birthday-cake:before {
  content: "";
}

/* line 543, ../vendor/font-awesome/scss/_icons.scss */
.fa-area-chart:before {
  content: "";
}

/* line 544, ../vendor/font-awesome/scss/_icons.scss */
.fa-pie-chart:before {
  content: "";
}

/* line 545, ../vendor/font-awesome/scss/_icons.scss */
.fa-line-chart:before {
  content: "";
}

/* line 546, ../vendor/font-awesome/scss/_icons.scss */
.fa-lastfm:before {
  content: "";
}

/* line 547, ../vendor/font-awesome/scss/_icons.scss */
.fa-lastfm-square:before {
  content: "";
}

/* line 548, ../vendor/font-awesome/scss/_icons.scss */
.fa-toggle-off:before {
  content: "";
}

/* line 549, ../vendor/font-awesome/scss/_icons.scss */
.fa-toggle-on:before {
  content: "";
}

/* line 550, ../vendor/font-awesome/scss/_icons.scss */
.fa-bicycle:before {
  content: "";
}

/* line 551, ../vendor/font-awesome/scss/_icons.scss */
.fa-bus:before {
  content: "";
}

/* line 552, ../vendor/font-awesome/scss/_icons.scss */
.fa-ioxhost:before {
  content: "";
}

/* line 553, ../vendor/font-awesome/scss/_icons.scss */
.fa-angellist:before {
  content: "";
}

/* line 554, ../vendor/font-awesome/scss/_icons.scss */
.fa-cc:before {
  content: "";
}

/* line 555, ../vendor/font-awesome/scss/_icons.scss */
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "";
}

/* line 558, ../vendor/font-awesome/scss/_icons.scss */
.fa-meanpath:before {
  content: "";
}

/* line 559, ../vendor/font-awesome/scss/_icons.scss */
.fa-buysellads:before {
  content: "";
}

/* line 560, ../vendor/font-awesome/scss/_icons.scss */
.fa-connectdevelop:before {
  content: "";
}

/* line 561, ../vendor/font-awesome/scss/_icons.scss */
.fa-dashcube:before {
  content: "";
}

/* line 562, ../vendor/font-awesome/scss/_icons.scss */
.fa-forumbee:before {
  content: "";
}

/* line 563, ../vendor/font-awesome/scss/_icons.scss */
.fa-leanpub:before {
  content: "";
}

/* line 564, ../vendor/font-awesome/scss/_icons.scss */
.fa-sellsy:before {
  content: "";
}

/* line 565, ../vendor/font-awesome/scss/_icons.scss */
.fa-shirtsinbulk:before {
  content: "";
}

/* line 566, ../vendor/font-awesome/scss/_icons.scss */
.fa-simplybuilt:before {
  content: "";
}

/* line 567, ../vendor/font-awesome/scss/_icons.scss */
.fa-skyatlas:before {
  content: "";
}

/* line 568, ../vendor/font-awesome/scss/_icons.scss */
.fa-cart-plus:before {
  content: "";
}

/* line 569, ../vendor/font-awesome/scss/_icons.scss */
.fa-cart-arrow-down:before {
  content: "";
}

/* line 570, ../vendor/font-awesome/scss/_icons.scss */
.fa-diamond:before {
  content: "";
}

/* line 571, ../vendor/font-awesome/scss/_icons.scss */
.fa-ship:before {
  content: "";
}

/* line 572, ../vendor/font-awesome/scss/_icons.scss */
.fa-user-secret:before {
  content: "";
}

/* line 573, ../vendor/font-awesome/scss/_icons.scss */
.fa-motorcycle:before {
  content: "";
}

/* line 574, ../vendor/font-awesome/scss/_icons.scss */
.fa-street-view:before {
  content: "";
}

/* line 575, ../vendor/font-awesome/scss/_icons.scss */
.fa-heartbeat:before {
  content: "";
}

/* line 576, ../vendor/font-awesome/scss/_icons.scss */
.fa-venus:before {
  content: "";
}

/* line 577, ../vendor/font-awesome/scss/_icons.scss */
.fa-mars:before {
  content: "";
}

/* line 578, ../vendor/font-awesome/scss/_icons.scss */
.fa-mercury:before {
  content: "";
}

/* line 579, ../vendor/font-awesome/scss/_icons.scss */
.fa-intersex:before,
.fa-transgender:before {
  content: "";
}

/* line 581, ../vendor/font-awesome/scss/_icons.scss */
.fa-transgender-alt:before {
  content: "";
}

/* line 582, ../vendor/font-awesome/scss/_icons.scss */
.fa-venus-double:before {
  content: "";
}

/* line 583, ../vendor/font-awesome/scss/_icons.scss */
.fa-mars-double:before {
  content: "";
}

/* line 584, ../vendor/font-awesome/scss/_icons.scss */
.fa-venus-mars:before {
  content: "";
}

/* line 585, ../vendor/font-awesome/scss/_icons.scss */
.fa-mars-stroke:before {
  content: "";
}

/* line 586, ../vendor/font-awesome/scss/_icons.scss */
.fa-mars-stroke-v:before {
  content: "";
}

/* line 587, ../vendor/font-awesome/scss/_icons.scss */
.fa-mars-stroke-h:before {
  content: "";
}

/* line 588, ../vendor/font-awesome/scss/_icons.scss */
.fa-neuter:before {
  content: "";
}

/* line 589, ../vendor/font-awesome/scss/_icons.scss */
.fa-genderless:before {
  content: "";
}

/* line 590, ../vendor/font-awesome/scss/_icons.scss */
.fa-facebook-official:before {
  content: "";
}

/* line 591, ../vendor/font-awesome/scss/_icons.scss */
.fa-pinterest-p:before {
  content: "";
}

/* line 592, ../vendor/font-awesome/scss/_icons.scss */
.fa-whatsapp:before {
  content: "";
}

/* line 593, ../vendor/font-awesome/scss/_icons.scss */
.fa-server:before {
  content: "";
}

/* line 594, ../vendor/font-awesome/scss/_icons.scss */
.fa-user-plus:before {
  content: "";
}

/* line 595, ../vendor/font-awesome/scss/_icons.scss */
.fa-user-times:before {
  content: "";
}

/* line 596, ../vendor/font-awesome/scss/_icons.scss */
.fa-hotel:before,
.fa-bed:before {
  content: "";
}

/* line 598, ../vendor/font-awesome/scss/_icons.scss */
.fa-viacoin:before {
  content: "";
}

/* line 599, ../vendor/font-awesome/scss/_icons.scss */
.fa-train:before {
  content: "";
}

/* line 600, ../vendor/font-awesome/scss/_icons.scss */
.fa-subway:before {
  content: "";
}

/* line 601, ../vendor/font-awesome/scss/_icons.scss */
.fa-medium:before {
  content: "";
}

/* line 602, ../vendor/font-awesome/scss/_icons.scss */
.fa-yc:before,
.fa-y-combinator:before {
  content: "";
}

/* line 604, ../vendor/font-awesome/scss/_icons.scss */
.fa-optin-monster:before {
  content: "";
}

/* line 605, ../vendor/font-awesome/scss/_icons.scss */
.fa-opencart:before {
  content: "";
}

/* line 606, ../vendor/font-awesome/scss/_icons.scss */
.fa-expeditedssl:before {
  content: "";
}

/* line 607, ../vendor/font-awesome/scss/_icons.scss */
.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: "";
}

/* line 610, ../vendor/font-awesome/scss/_icons.scss */
.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "";
}

/* line 612, ../vendor/font-awesome/scss/_icons.scss */
.fa-battery-2:before,
.fa-battery-half:before {
  content: "";
}

/* line 614, ../vendor/font-awesome/scss/_icons.scss */
.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "";
}

/* line 616, ../vendor/font-awesome/scss/_icons.scss */
.fa-battery-0:before,
.fa-battery-empty:before {
  content: "";
}

/* line 618, ../vendor/font-awesome/scss/_icons.scss */
.fa-mouse-pointer:before {
  content: "";
}

/* line 619, ../vendor/font-awesome/scss/_icons.scss */
.fa-i-cursor:before {
  content: "";
}

/* line 620, ../vendor/font-awesome/scss/_icons.scss */
.fa-object-group:before {
  content: "";
}

/* line 621, ../vendor/font-awesome/scss/_icons.scss */
.fa-object-ungroup:before {
  content: "";
}

/* line 622, ../vendor/font-awesome/scss/_icons.scss */
.fa-sticky-note:before {
  content: "";
}

/* line 623, ../vendor/font-awesome/scss/_icons.scss */
.fa-sticky-note-o:before {
  content: "";
}

/* line 624, ../vendor/font-awesome/scss/_icons.scss */
.fa-cc-jcb:before {
  content: "";
}

/* line 625, ../vendor/font-awesome/scss/_icons.scss */
.fa-cc-diners-club:before {
  content: "";
}

/* line 626, ../vendor/font-awesome/scss/_icons.scss */
.fa-clone:before {
  content: "";
}

/* line 627, ../vendor/font-awesome/scss/_icons.scss */
.fa-balance-scale:before {
  content: "";
}

/* line 628, ../vendor/font-awesome/scss/_icons.scss */
.fa-hourglass-o:before {
  content: "";
}

/* line 629, ../vendor/font-awesome/scss/_icons.scss */
.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "";
}

/* line 631, ../vendor/font-awesome/scss/_icons.scss */
.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "";
}

/* line 633, ../vendor/font-awesome/scss/_icons.scss */
.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "";
}

/* line 635, ../vendor/font-awesome/scss/_icons.scss */
.fa-hourglass:before {
  content: "";
}

/* line 636, ../vendor/font-awesome/scss/_icons.scss */
.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "";
}

/* line 638, ../vendor/font-awesome/scss/_icons.scss */
.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "";
}

/* line 640, ../vendor/font-awesome/scss/_icons.scss */
.fa-hand-scissors-o:before {
  content: "";
}

/* line 641, ../vendor/font-awesome/scss/_icons.scss */
.fa-hand-lizard-o:before {
  content: "";
}

/* line 642, ../vendor/font-awesome/scss/_icons.scss */
.fa-hand-spock-o:before {
  content: "";
}

/* line 643, ../vendor/font-awesome/scss/_icons.scss */
.fa-hand-pointer-o:before {
  content: "";
}

/* line 644, ../vendor/font-awesome/scss/_icons.scss */
.fa-hand-peace-o:before {
  content: "";
}

/* line 645, ../vendor/font-awesome/scss/_icons.scss */
.fa-trademark:before {
  content: "";
}

/* line 646, ../vendor/font-awesome/scss/_icons.scss */
.fa-registered:before {
  content: "";
}

/* line 647, ../vendor/font-awesome/scss/_icons.scss */
.fa-creative-commons:before {
  content: "";
}

/* line 648, ../vendor/font-awesome/scss/_icons.scss */
.fa-gg:before {
  content: "";
}

/* line 649, ../vendor/font-awesome/scss/_icons.scss */
.fa-gg-circle:before {
  content: "";
}

/* line 650, ../vendor/font-awesome/scss/_icons.scss */
.fa-tripadvisor:before {
  content: "";
}

/* line 651, ../vendor/font-awesome/scss/_icons.scss */
.fa-odnoklassniki:before {
  content: "";
}

/* line 652, ../vendor/font-awesome/scss/_icons.scss */
.fa-odnoklassniki-square:before {
  content: "";
}

/* line 653, ../vendor/font-awesome/scss/_icons.scss */
.fa-get-pocket:before {
  content: "";
}

/* line 654, ../vendor/font-awesome/scss/_icons.scss */
.fa-wikipedia-w:before {
  content: "";
}

/* line 655, ../vendor/font-awesome/scss/_icons.scss */
.fa-safari:before {
  content: "";
}

/* line 656, ../vendor/font-awesome/scss/_icons.scss */
.fa-chrome:before {
  content: "";
}

/* line 657, ../vendor/font-awesome/scss/_icons.scss */
.fa-firefox:before {
  content: "";
}

/* line 658, ../vendor/font-awesome/scss/_icons.scss */
.fa-opera:before {
  content: "";
}

/* line 659, ../vendor/font-awesome/scss/_icons.scss */
.fa-internet-explorer:before {
  content: "";
}

/* line 660, ../vendor/font-awesome/scss/_icons.scss */
.fa-tv:before,
.fa-television:before {
  content: "";
}

/* line 662, ../vendor/font-awesome/scss/_icons.scss */
.fa-contao:before {
  content: "";
}

/* line 663, ../vendor/font-awesome/scss/_icons.scss */
.fa-500px:before {
  content: "";
}

/* line 664, ../vendor/font-awesome/scss/_icons.scss */
.fa-amazon:before {
  content: "";
}

/* line 665, ../vendor/font-awesome/scss/_icons.scss */
.fa-calendar-plus-o:before {
  content: "";
}

/* line 666, ../vendor/font-awesome/scss/_icons.scss */
.fa-calendar-minus-o:before {
  content: "";
}

/* line 667, ../vendor/font-awesome/scss/_icons.scss */
.fa-calendar-times-o:before {
  content: "";
}

/* line 668, ../vendor/font-awesome/scss/_icons.scss */
.fa-calendar-check-o:before {
  content: "";
}

/* line 669, ../vendor/font-awesome/scss/_icons.scss */
.fa-industry:before {
  content: "";
}

/* line 670, ../vendor/font-awesome/scss/_icons.scss */
.fa-map-pin:before {
  content: "";
}

/* line 671, ../vendor/font-awesome/scss/_icons.scss */
.fa-map-signs:before {
  content: "";
}

/* line 672, ../vendor/font-awesome/scss/_icons.scss */
.fa-map-o:before {
  content: "";
}

/* line 673, ../vendor/font-awesome/scss/_icons.scss */
.fa-map:before {
  content: "";
}

/* line 674, ../vendor/font-awesome/scss/_icons.scss */
.fa-commenting:before {
  content: "";
}

/* line 675, ../vendor/font-awesome/scss/_icons.scss */
.fa-commenting-o:before {
  content: "";
}

/* line 676, ../vendor/font-awesome/scss/_icons.scss */
.fa-houzz:before {
  content: "";
}

/* line 677, ../vendor/font-awesome/scss/_icons.scss */
.fa-vimeo:before {
  content: "";
}

/* line 678, ../vendor/font-awesome/scss/_icons.scss */
.fa-black-tie:before {
  content: "";
}

/* line 679, ../vendor/font-awesome/scss/_icons.scss */
.fa-fonticons:before {
  content: "";
}

/* line 680, ../vendor/font-awesome/scss/_icons.scss */
.fa-reddit-alien:before {
  content: "";
}

/* line 681, ../vendor/font-awesome/scss/_icons.scss */
.fa-edge:before {
  content: "";
}

/* line 682, ../vendor/font-awesome/scss/_icons.scss */
.fa-credit-card-alt:before {
  content: "";
}

/* line 683, ../vendor/font-awesome/scss/_icons.scss */
.fa-codiepie:before {
  content: "";
}

/* line 684, ../vendor/font-awesome/scss/_icons.scss */
.fa-modx:before {
  content: "";
}

/* line 685, ../vendor/font-awesome/scss/_icons.scss */
.fa-fort-awesome:before {
  content: "";
}

/* line 686, ../vendor/font-awesome/scss/_icons.scss */
.fa-usb:before {
  content: "";
}

/* line 687, ../vendor/font-awesome/scss/_icons.scss */
.fa-product-hunt:before {
  content: "";
}

/* line 688, ../vendor/font-awesome/scss/_icons.scss */
.fa-mixcloud:before {
  content: "";
}

/* line 689, ../vendor/font-awesome/scss/_icons.scss */
.fa-scribd:before {
  content: "";
}

/* line 690, ../vendor/font-awesome/scss/_icons.scss */
.fa-pause-circle:before {
  content: "";
}

/* line 691, ../vendor/font-awesome/scss/_icons.scss */
.fa-pause-circle-o:before {
  content: "";
}

/* line 692, ../vendor/font-awesome/scss/_icons.scss */
.fa-stop-circle:before {
  content: "";
}

/* line 693, ../vendor/font-awesome/scss/_icons.scss */
.fa-stop-circle-o:before {
  content: "";
}

/* line 694, ../vendor/font-awesome/scss/_icons.scss */
.fa-shopping-bag:before {
  content: "";
}

/* line 695, ../vendor/font-awesome/scss/_icons.scss */
.fa-shopping-basket:before {
  content: "";
}

/* line 696, ../vendor/font-awesome/scss/_icons.scss */
.fa-hashtag:before {
  content: "";
}

/* line 697, ../vendor/font-awesome/scss/_icons.scss */
.fa-bluetooth:before {
  content: "";
}

/* line 698, ../vendor/font-awesome/scss/_icons.scss */
.fa-bluetooth-b:before {
  content: "";
}

/* line 699, ../vendor/font-awesome/scss/_icons.scss */
.fa-percent:before {
  content: "";
}

/* line 700, ../vendor/font-awesome/scss/_icons.scss */
.fa-gitlab:before {
  content: "";
}

/* line 701, ../vendor/font-awesome/scss/_icons.scss */
.fa-wpbeginner:before {
  content: "";
}

/* line 702, ../vendor/font-awesome/scss/_icons.scss */
.fa-wpforms:before {
  content: "";
}

/* line 703, ../vendor/font-awesome/scss/_icons.scss */
.fa-envira:before {
  content: "";
}

/* line 704, ../vendor/font-awesome/scss/_icons.scss */
.fa-universal-access:before {
  content: "";
}

/* line 705, ../vendor/font-awesome/scss/_icons.scss */
.fa-wheelchair-alt:before {
  content: "";
}

/* line 706, ../vendor/font-awesome/scss/_icons.scss */
.fa-question-circle-o:before {
  content: "";
}

/* line 707, ../vendor/font-awesome/scss/_icons.scss */
.fa-blind:before {
  content: "";
}

/* line 708, ../vendor/font-awesome/scss/_icons.scss */
.fa-audio-description:before {
  content: "";
}

/* line 709, ../vendor/font-awesome/scss/_icons.scss */
.fa-volume-control-phone:before {
  content: "";
}

/* line 710, ../vendor/font-awesome/scss/_icons.scss */
.fa-braille:before {
  content: "";
}

/* line 711, ../vendor/font-awesome/scss/_icons.scss */
.fa-assistive-listening-systems:before {
  content: "";
}

/* line 712, ../vendor/font-awesome/scss/_icons.scss */
.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: "";
}

/* line 714, ../vendor/font-awesome/scss/_icons.scss */
.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: "";
}

/* line 717, ../vendor/font-awesome/scss/_icons.scss */
.fa-glide:before {
  content: "";
}

/* line 718, ../vendor/font-awesome/scss/_icons.scss */
.fa-glide-g:before {
  content: "";
}

/* line 719, ../vendor/font-awesome/scss/_icons.scss */
.fa-signing:before,
.fa-sign-language:before {
  content: "";
}

/* line 721, ../vendor/font-awesome/scss/_icons.scss */
.fa-low-vision:before {
  content: "";
}

/* line 722, ../vendor/font-awesome/scss/_icons.scss */
.fa-viadeo:before {
  content: "";
}

/* line 723, ../vendor/font-awesome/scss/_icons.scss */
.fa-viadeo-square:before {
  content: "";
}

/* line 724, ../vendor/font-awesome/scss/_icons.scss */
.fa-snapchat:before {
  content: "";
}

/* line 725, ../vendor/font-awesome/scss/_icons.scss */
.fa-snapchat-ghost:before {
  content: "";
}

/* line 726, ../vendor/font-awesome/scss/_icons.scss */
.fa-snapchat-square:before {
  content: "";
}

/* line 727, ../vendor/font-awesome/scss/_icons.scss */
.fa-pied-piper:before {
  content: "";
}

/* line 728, ../vendor/font-awesome/scss/_icons.scss */
.fa-first-order:before {
  content: "";
}

/* line 729, ../vendor/font-awesome/scss/_icons.scss */
.fa-yoast:before {
  content: "";
}

/* line 730, ../vendor/font-awesome/scss/_icons.scss */
.fa-themeisle:before {
  content: "";
}

/* line 731, ../vendor/font-awesome/scss/_icons.scss */
.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: "";
}

/* line 733, ../vendor/font-awesome/scss/_icons.scss */
.fa-fa:before,
.fa-font-awesome:before {
  content: "";
}

/* line 735, ../vendor/font-awesome/scss/_icons.scss */
.fa-handshake-o:before {
  content: "";
}

/* line 736, ../vendor/font-awesome/scss/_icons.scss */
.fa-envelope-open:before {
  content: "";
}

/* line 737, ../vendor/font-awesome/scss/_icons.scss */
.fa-envelope-open-o:before {
  content: "";
}

/* line 738, ../vendor/font-awesome/scss/_icons.scss */
.fa-linode:before {
  content: "";
}

/* line 739, ../vendor/font-awesome/scss/_icons.scss */
.fa-address-book:before {
  content: "";
}

/* line 740, ../vendor/font-awesome/scss/_icons.scss */
.fa-address-book-o:before {
  content: "";
}

/* line 741, ../vendor/font-awesome/scss/_icons.scss */
.fa-vcard:before,
.fa-address-card:before {
  content: "";
}

/* line 743, ../vendor/font-awesome/scss/_icons.scss */
.fa-vcard-o:before,
.fa-address-card-o:before {
  content: "";
}

/* line 745, ../vendor/font-awesome/scss/_icons.scss */
.fa-user-circle:before {
  content: "";
}

/* line 746, ../vendor/font-awesome/scss/_icons.scss */
.fa-user-circle-o:before {
  content: "";
}

/* line 747, ../vendor/font-awesome/scss/_icons.scss */
.fa-user-o:before {
  content: "";
}

/* line 748, ../vendor/font-awesome/scss/_icons.scss */
.fa-id-badge:before {
  content: "";
}

/* line 749, ../vendor/font-awesome/scss/_icons.scss */
.fa-drivers-license:before,
.fa-id-card:before {
  content: "";
}

/* line 751, ../vendor/font-awesome/scss/_icons.scss */
.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: "";
}

/* line 753, ../vendor/font-awesome/scss/_icons.scss */
.fa-quora:before {
  content: "";
}

/* line 754, ../vendor/font-awesome/scss/_icons.scss */
.fa-free-code-camp:before {
  content: "";
}

/* line 755, ../vendor/font-awesome/scss/_icons.scss */
.fa-telegram:before {
  content: "";
}

/* line 756, ../vendor/font-awesome/scss/_icons.scss */
.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: "";
}

/* line 759, ../vendor/font-awesome/scss/_icons.scss */
.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: "";
}

/* line 761, ../vendor/font-awesome/scss/_icons.scss */
.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: "";
}

/* line 763, ../vendor/font-awesome/scss/_icons.scss */
.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: "";
}

/* line 765, ../vendor/font-awesome/scss/_icons.scss */
.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: "";
}

/* line 767, ../vendor/font-awesome/scss/_icons.scss */
.fa-shower:before {
  content: "";
}

/* line 768, ../vendor/font-awesome/scss/_icons.scss */
.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: "";
}

/* line 771, ../vendor/font-awesome/scss/_icons.scss */
.fa-podcast:before {
  content: "";
}

/* line 772, ../vendor/font-awesome/scss/_icons.scss */
.fa-window-maximize:before {
  content: "";
}

/* line 773, ../vendor/font-awesome/scss/_icons.scss */
.fa-window-minimize:before {
  content: "";
}

/* line 774, ../vendor/font-awesome/scss/_icons.scss */
.fa-window-restore:before {
  content: "";
}

/* line 775, ../vendor/font-awesome/scss/_icons.scss */
.fa-times-rectangle:before,
.fa-window-close:before {
  content: "";
}

/* line 777, ../vendor/font-awesome/scss/_icons.scss */
.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: "";
}

/* line 779, ../vendor/font-awesome/scss/_icons.scss */
.fa-bandcamp:before {
  content: "";
}

/* line 780, ../vendor/font-awesome/scss/_icons.scss */
.fa-grav:before {
  content: "";
}

/* line 781, ../vendor/font-awesome/scss/_icons.scss */
.fa-etsy:before {
  content: "";
}

/* line 782, ../vendor/font-awesome/scss/_icons.scss */
.fa-imdb:before {
  content: "";
}

/* line 783, ../vendor/font-awesome/scss/_icons.scss */
.fa-ravelry:before {
  content: "";
}

/* line 784, ../vendor/font-awesome/scss/_icons.scss */
.fa-eercast:before {
  content: "";
}

/* line 785, ../vendor/font-awesome/scss/_icons.scss */
.fa-microchip:before {
  content: "";
}

/* line 786, ../vendor/font-awesome/scss/_icons.scss */
.fa-snowflake-o:before {
  content: "";
}

/* line 787, ../vendor/font-awesome/scss/_icons.scss */
.fa-superpowers:before {
  content: "";
}

/* line 788, ../vendor/font-awesome/scss/_icons.scss */
.fa-wpexplorer:before {
  content: "";
}

/* line 789, ../vendor/font-awesome/scss/_icons.scss */
.fa-meetup:before {
  content: "";
}

/* line 4, ../vendor/font-awesome/scss/_screen-reader.scss */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* line 51, ../vendor/font-awesome/scss/_mixins.scss */
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* Define all css colors here */
/***** Global CSS ******/
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Light.ttf);
}
@font-face {
  font-family: Muli;
  src: url(../fonts/Muli/Muli-Light.ttf);
}
/* line 10, ../scss/_global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway',sans-serif;
  color: #dd5842;
  font-weight: 300;
  line-height: 160%;
  margin: 0;
  word-wrap: break-word;
}

/* line 18, ../scss/_global.scss */
h1 {
  font-size: 48px;
  letter-spacing: 5px;
  display: inline-block;
}

/* line 23, ../scss/_global.scss */
h3 {
  font-size: 32px;
}

/* line 26, ../scss/_global.scss */
a {
  color: #3A2069;
}

/* line 29, ../scss/_global.scss */
body {
  font-family: 'Muli',sans-serif;
  color: #202020;
  font-size: 16px;
  font-weight: 300;
  line-height: 180%;
  background-color: #e1e1e1;
}

/* line 37, ../scss/_global.scss */
.main-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* line 41, ../scss/_global.scss */
.page-header {
  padding: 20px 20px 0 0;
  text-transform: uppercase;
  padding-bottom: 0;
  border: none;
}

/* line 47, ../scss/_global.scss */
.button, .button--primary, .btn-primary, .btn {
  border-radius: 0;
}

.region-front-slider {
  padding-top: 75px;
}

/* line 50, ../scss/_global.scss */
.form-textarea, .form-text, .form-email {
  border-radius: 0;
  background-color: #e1e1e1;
}

/* line 54, ../scss/_global.scss */
.form-actions {
  margin-top: 20px;
}

/* line 57, ../scss/_global.scss */
.field {
  margin-top: 10px;
}

/**** Slider CSS ****/
/* line 61, ../scss/_global.scss */


/* line 65, ../scss/_global.scss */
.media--slick .media__image {
  margin: 0;
  width: 100%;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  min-height: 340px;
}

/* line 72, ../scss/_global.scss */


/* line 80, ../scss/_global.scss */
.slide__caption {
  width: 100% !important;
  left: 0 !important;
  margin-left: 0 !important;
  padding: 20px !important;
  top: 250px !important;
}
/* line 87, ../scss/_global.scss */
.slide__caption .slide__overlay p {
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 76px;
}

/* line 96, ../scss/_global.scss */
.slick__arrow {
  top: 13%;
}
/* line 99, ../scss/_global.scss */
.slick__arrow .slick-arrow::before {
  font-size: 5.5rem;
}
/* line 103, ../scss/_global.scss */
/*.slick__arrow .slick-prev {
  left: 93%;
}*/
/* line 105, ../scss/_global.scss */
.slick__arrow .slick-prev::before {
  content: "<";
}
/* line 109, ../scss/_global.scss */
.slick__arrow .slick-next::before {
  content: ">";
}
@media (min-width: 768px) and (max-width: 1024px) {
  .slick__arrow {
    top: 18%;
  }
  .slick img {
    height: 550px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  /* line 114, ../scss/_global.scss */
  .media--slick .media__image {
    min-width: 1200px !important;
  }
  .slick img {
    height: 400px !important;
  }
 .slick__arrow {
    top: 27%;
  }
  /* line 117, ../scss/_global.scss */
  .slide__caption {
    margin-top: -30%;
    padding: 35px !important;
  }
  /* line 121, ../scss/_global.scss */
  .slide__caption .slide__overlay p {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 30px;
  }
}
/**** Slider CSS end ****/
/* Side Menu */
/* line 3, ../scss/_menu.scss */
#sidebar-wrapper {
  position: fixed;
  z-index: 9999;
  top: 100px;
  left: -500px;
  width: 250px;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: #ffffff;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

/* line 20, ../scss/_menu.scss */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 249px;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 31, ../scss/_menu.scss */
.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #202020;
  padding: 15px;
}
/* line 36, ../scss/_menu.scss */
.sidebar-nav li.sidebar-nav-item a:hover {
  background-color: #e1e1e1;
}
/* line 39, ../scss/_menu.scss */
.sidebar-nav li.sidebar-nav-item a.is-active {
  background-color: #e1e1e1;
}

/* line 44, ../scss/_menu.scss */
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

/* line 49, ../scss/_menu.scss */
.sidebar-nav > .sidebar-brand {
  font-size: 1.2rem;
  background: rgba(225, 225, 225, 0.1);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

/* line 59, ../scss/_menu.scss */
.sidebar-nav > .sidebar-brand a {
  color: #202020;
}

/* line 63, ../scss/_menu.scss */
.sidebar-nav > .sidebar-brand a:hover {
  color: #ffffff;
  background: none;
}

/* line 68, ../scss/_menu.scss */
#sidebar-wrapper.active {
  top: 100px;
  left: -250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/* line 79, ../scss/_menu.scss */
.menu-toggle {
  position: fixed;
  left: 15px;
  top: 25px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #a09f9f;
  font-size: 36px;
  line-height: 50px;
  z-index: 999;
}
/* line 91, ../scss/_menu.scss */
.menu-toggle:focus, .menu-toggle:hover {
  color: #a09f9f;
}

/* line 103, ../scss/_menu.scss */
.navbar-nav > li {
  float: none;
}

/* line 106, ../scss/_menu.scss */
.menu-top {
  background-color: #ffffff;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 999;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 116, ../scss/_menu.scss */
.logo-wrapper {
  position: relative;
  top: 0px;
}
/* line 119, ../scss/_menu.scss */
.logo-wrapper .navbar-brand {
  display: none;
  font-size: 42px;
}

@media (min-width: 320px) and (max-width: 480px) {
  /* line 125, ../scss/_menu.scss */
  .logo-top {
    margin-left: 20%;
  }
  /* line 127, ../scss/_menu.scss */
  .logo-top .navbar-brand {
    font-size: 34px;
  }
}
/* Pages */
/* line 2, ../scss/pages/_services.scss */
.view-services .service-box {
  position: relative;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 7, ../scss/pages/_services.scss */
.view-services .service-box .image {
  background: #ffffff;
  position: absolute;
  width: 300px;
  padding: 30px;
  height: 100%;
  top: 0;
}
/* line 14, ../scss/pages/_services.scss */
.view-services .service-box .image img {
  margin-top: 55px;
  width: 100%;
}
/* line 19, ../scss/pages/_services.scss */
.view-services .service-box .inner {
  padding: 40px;
  background: #ffffff;
  margin-left: 260px;
}
/* line 23, ../scss/pages/_services.scss */
.view-services .service-box .inner > * {
  margin-bottom: 30px;
}
/* line 29, ../scss/pages/_services.scss */
.view-services .service-box:nth-child(2n) .image {
  right: 20px;
}
/* line 32, ../scss/pages/_services.scss */
.view-services .service-box:nth-child(2n) .inner {
  margin-left: 0;
  margin-right: 260px;
  text-align: right;
}

@media (max-width: 991px) {
  /* line 42, ../scss/pages/_services.scss */
  .view-services .service-box {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 45, ../scss/pages/_services.scss */
  .view-services .service-box .image {
    position: relative;
    width: 100%;
    height: auto;
  }
  /* line 50, ../scss/pages/_services.scss */
  .view-services .service-box .inner {
    margin: 0 !important;
    text-align: center;
  }
}
/* line 2, ../scss/pages/_portfolio.scss */
.view-portfolio .view-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
/* line 7, ../scss/pages/_portfolio.scss */
.view-portfolio .view-content .portfolio-box .inner {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}
/* line 11, ../scss/pages/_portfolio.scss */
.view-portfolio .view-content .portfolio-box .inner h3 {
  font-size: 24px;
}

/* line 19, ../scss/pages/_portfolio.scss */
#cboxLoadedContent .navbar {
  display: none;
}

/* line 24, ../scss/pages/_portfolio.scss */
.field--name-field-project-technology .field--items {
  display: inline-flex;
}
/* line 26, ../scss/pages/_portfolio.scss */
.field--name-field-project-technology .field--items .field--item {
  padding-right: 10px;
}

@media (max-width: 991px) {
  /* line 33, ../scss/pages/_portfolio.scss */
  .view-portfolio .view-content {
    display: inherit;
  }
  /* line 35, ../scss/pages/_portfolio.scss */
  .view-portfolio .view-content .portfolio-box {
    margin-bottom: 30px;
  }
}
/* line 2, ../scss/pages/_about.scss */
/*section {
  padding-left: 30px !important;
  padding-right: 30px !important;
}*/

/* line 6, ../scss/pages/_about.scss */
article {
  background-color: #ffffff;
  padding: 30px;
}

/* line 1, ../scss/pages/_contact.scss */
.contact-message-contact-us-form-form {
  background-color: #ffffff;
  border-top: 1px solid #e1e1e1;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 7, ../scss/pages/_contact.scss */
.crow {
  margin-top: 10px;
}

/* line 1, ../scss/pages/_mission.scss */
.block-views-blockmission-block-1 {
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}
/* line 5, ../scss/pages/_mission.scss */
.block-views-blockmission-block-1 .vision-block {
  background-color: #e1e1e1;
  text-align: center;
  border: 1px solid #e1e1e1;
  box-shadow: #e1e1e1 1px 1px 3px;
}
/* line 10, ../scss/pages/_mission.scss */
.block-views-blockmission-block-1 .vision-block figcaption {
  min-height: 250px;
  padding: 20px;
}
/* line 13, ../scss/pages/_mission.scss */
.block-views-blockmission-block-1 .vision-block figcaption h3 {
  font-size: 22px;
}
.slide--caption--center .slide__constrained > .slide__caption {
    transform: translateX(0%);
    position: relative;
    color: #fff;
}
.inner-layout{
	background: #e2e2e2;
    box-shadow: 5px 5px #8a8282;
    width: 100%;
}
.webform-section{
    width: 100%;
    padding: 0px !important;
}
.webform-container{
	padding: 40px;
}
.webform-section h3{
	color: white;
}
.form-composite legend {
	font-size: 2rem;
}
.webform-options-display-side-by-side > div {
	margin-right: 10em;
    font-size: 1.7rem;
}
.webform-container .form-radio{
    height: 20px;
    width: 20px;
    margin-left: -25px !important;
}
.webform-likert-table-wrapper th{
  text-align:center;
  font-size: 2rem;
}
.webform-label label{
	font-size: 2rem;
}
.webform-element-description{
	font-size: 2rem;
}
.webform-section-title{
	 color: #c96049 !important;
   font-weight: bold;
}
.description{
	width: 100%;
  background: #d25441;
  padding: 25px;

}
.description h3{
  font-size: 26px;
}
.webform-container .fieldgroup {
  border-width: 0;
  padding: 10px;
}
.feedback-heading-section .description{
  background: none;
  padding: 0px;
}
.form-item-recommendation-permission{
  padding-top: 10px;
}


@media (min-width: 480px){
.col-sm-offset-5 {
    margin-left: 31.66666667%;}
.slide__caption{
    top: 50px !important;
  }
.slide__caption .slide__overlay p {
    font-size: 19px;
  }
.slide--0 .slide__caption .slide__overlay {
	padding-top: 50px;
  }
}


@media (min-width: 614px){
.slide__caption{
    top: 80px !important;
  }
.slide__caption .slide__overlay p {
    font-size: 25px;
  }
}


@media (min-width: 768px){
.col-sm-offset-5 {
    margin-left: 38.66666667%;}
.slide__caption{
    top: 120px !important;
  }
.slide__caption .slide__overlay p {
    font-size: 40px;
  }
}

@media (min-width: 1024px){
.slide__caption .slide__overlay {
    padding-top: 315px !important;
  }
.slide__caption .slide__overlay p {
    font-size: 50px;
  }
.slick img {
    height: 800px !important;
  }
}

.block-views-blockcontribution-taxonomy-view-block-1 {
  padding-top: 20px;
}

.term-col {
  min-height: 250px;
  background-color: #fff;
  padding: 30px
}
.term-col .views-field-name {
  padding-bottom: 25px;
  color: #dd5842;
  font-size: 25px;
  font-weight: 700;
}
.term-col p {
  padding-bottom: 25px;
}
.term-row{
  margin-bottom: 10px;
}

.slick--skin--fullwidth .slide__constrained {
	background-image: url(/sites/nxthought/themes/custom/weixweb/img/vectorpaint.svg);
	opacity: 0.8;
	box-shadow: inset 0 0 0 2000px rgba(21, 20, 20, 0.7);
	width: 100%;
	position: absolute;
	min-height: 340px !important;
}
.front-slider {
	padding-left: 0px;
	padding-right: 0px;
}
.slick__slide.slide--0 {
    width: 1358px;
}
.single_service i {
    border: 2px solid #636363;
    width: 85px;
    height: 85px;
    padding: 29px;
    border-radius: 45px;
    font-size: 25px;
}
.contact-message-contact-us-form-form {
	padding-right: 30px;
	padding-left: 30px;
}
.services {
	padding-top: 50px;
}
.path-frontpage .main-container {
	margin-top: 0 !important;
	margin-bottom: -18px !important;
}
.single_service {
    padding-bottom: 40px;
}
.single_service h2 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
}
h2.topics {
    text-transform: uppercase;
    letter-spacing: 6px;
}
.homepage-services {
	padding: 70px 0px 20px 0px !important;
	background-color: #fff !important;
}
.our-skills {
	padding: 70px 0px 30px 0px !important;
}
.view-our-skills .view-content {
	padding-top: 50px;
	margin-left: 3%;
}
.skills__skill {
    width: 190px;
    height: 190px;
    position: relative;
    padding: 10px;
    margin: 0 auto;
}
.skills__item {
    border: 1px solid #dd5843;
    border-radius: 8px;
    width: 170px;
    max-height: 170px;
    min-height:170px;
    display: block;
    vertical-align: top;
    background: #ffffff;
    top: 10px;
    left: 10px;
    overflow: hidden;
    z-index: 10;
}

.skills__item-wrap img {
    display: block;
    margin: auto;
    width: 80%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 135px;
}
.skills__item-wrap .text-content--small {
    font-size: 15px;
    color: #dd5843;
    padding-bottom: 5%;
}
.skills__description {
    display: none;
    font-family: Arial;
    color: #dd5843;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 13px;
    padding: 0 20px 20px;
    text-align: center;
}
.skills__item:hover {
    box-shadow: 0 0 35px rgb(211, 101, 75);
    max-height: 260px;
    z-index: 100;
}
.footer {
	background-color: #fff !important;
}
.front-services, .footer {
    padding-top: 17px !important;
    padding-bottom: 0px !important;
    width: 100% !important;
}
@media (min-width: 64em){
  .slick--skin--fullwidth .slide__constrained {
     left: unset !important;
     margin-left: unset !important;
   }
}
.footer img {
    width: 90px;
}
.footer {
	margin-top: 0px !important;
	padding-left: 0px;
    padding-right: 0px;
}
.footer textarea.form-control {
    height: 252px;
}

@media (min-width: 768px){
  .footer .form-type-textarea {
    float: right;
    margin-top: -300px;
  }
  .footer .form-type-textfield, .footer .form-type-email, .footer .form-type-textarea {
	width: 50% !important;
  }
}
.footer .form-type-textfield, .form-type-email, .form-type-textarea {
	width: 100%;
  }

.footer .form-actions, .footer .form-type-textfield, .footer .form-type-email, .footer .form-type-textarea {
	padding-right: 15px;
    padding-left: 15px;
}
.footer .form-textarea, .footer .form-text, .footer .form-email {
    padding: 25px 12px;
}
.footer .contact-form {
	margin-left: auto;
    margin-right: auto;
    padding: 15px 30px 15px 30px;
}
.footer .contact-form label {
	font-weight: 400;
	color: #dd5842;
}
#block-nxthoughtfooter {
	background-color: #e3e3e3;
}
#block-nxthought-copyright {
	padding-bottom: 20px;
}
#block-nxthoughtfooter .contact-info {
	padding-bottom: 15px;
}
.footer-logo {
	padding-top: 5px;
}
.term-row {
	margin-left: 0px!important;
	margin-right: 0px!important;
}
@media (min-width: 768px){
  .term-col {
	width: 49% !important;
  }
  .term-row .col-1 {
    width: 48% !important;
    float: left;
  }
  .term-row .col-2 {
    width: 48%;
    float: right;
  }
  .footer .captcha {
	margin-left: 15px;
	width: 48%;
  }
}
.term-row .col-1 {
  margin-bottom: 10px;
}
.footer .captcha {
  margin-left: 15px;
  margin-right: 15px;
}
.contact-message-feedback-form h2 {
	text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 6px;
}
#edit-preview{
	display: none;
}
